<div class="brand">
  <div class="brand_content row">
    <div class="brand_content_half col-lg-6 d-flex">
      <div class="brand_content_item">
        <div class="brand_title">醫學新知</div>
        <img src="../../../assets/img/knowledge.png" alt="">
        <div class="brand_subtitle">彙整眾多醫學廠商與醫院診所的最新經驗與案例</div>
      </div>
      <div class="brand_content_item">
        <div class="brand_title">醫學活動</div>
        <img src="../../../assets/img/event.png" alt="">
        <div class="brand_subtitle">提供醫學活動資訊,線上會議,及錄影等重要持續教育內容</div>
      </div>
    </div>
    <div class="brand_content_half col-lg-6 d-flex">
      <div class="brand_content_item">
        <div class="brand_title">在Dr.Talk探索</div>
        <img src="../../../assets/img/explore.png" alt="">
        <div class="brand_subtitle">透過關鍵字查詢，讓你輕鬆掌握最新醫療教育內容！</div>
      </div>
      <div class="brand_content_item">
        <div class="brand_title">學分認證</div>
        <img src="../../../assets/img/certification.png" alt="">
        <div class="brand_subtitle">可線上參與學分認證課程，提升你的職場超能力！</div>
      </div>
    </div>
  </div>
  <div class="partner">
    <div class="partner_title">
      <div class="partner_title_text">合作廠商與醫院</div>
      <div class="partner_mark"></div>
    </div>
    <div class="partner_img">
      <swiper [slidesPerView]="brandCount" [slidesPerGroup]="brandCount" [pagination]="{
        clickable: true
      }"
        class="mySwiper">
        <ng-template swiperSlide><img src="../../../assets/img/fakeImge/fakevendor-1.png" alt=""></ng-template>
        <ng-template swiperSlide><img src="../../../assets/img/fakeImge/fakevendor-4.png" alt=""></ng-template>
        <ng-template swiperSlide><img src="../../../assets/img/fakeImge/fakevendor-2.png" alt=""></ng-template>
        <ng-template swiperSlide><img src="../../../assets/img/fakeImge/fakevendor-3.png" alt=""></ng-template>
        <ng-template swiperSlide><img src="../../../assets/img/fakeImge/fakevendor-1.png" alt=""></ng-template>
        <ng-template swiperSlide><img src="../../../assets/img/fakeImge/fakevendor-4.png" alt=""></ng-template>
      </swiper>
    </div>
  </div>
</div>
