@import '../../../styles/variables.scss';
@import '../../../styles/bootstrap.scss';

.brand  {
  margin-top: 50px;
  .brand_content {
    margin: 0;
    padding:75px 0 80px 0;
    text-align: center;
    background-color: $light_light_light_light_light_grey;
    .brand_content_half {
      justify-content: space-around;
      padding: 0;
      .brand_content_item {
        max-width: 204px;
        padding: unset;
        .brand_title {
          color: $black;
          font-size: $font-size-24;
        }
        .brand_subtitle {
          color: $grey;
          font-size: $font-size-16;
          letter-spacing: 0;
        }
      }
    }
  }
  .partner {
    padding: 100px 0 50px 0;
    text-align: center;
    .partner_title {
      .partner_title_text {
        font-size: $font-size-24;
        color: $grey;
      }
      .partner_mark {
        margin: auto;
        background: #D42335;
        border-radius: 100px;
        transform: rotate(90deg);
        width: 4px;
        height: 32px;
      }
    }
    .partner_img {
      max-width: 813px;
      max-height: 140px;
      margin: auto;
      margin-top: 30px;
      display: flex;
      justify-content: space-between;
      ::ng-deep .mySwiper {
        height: 120px;
        .swiper-wrapper {
          .swiper-slide {
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
        .swiper-pagination {
          bottom: 0px;
          .swiper-pagination-bullet {
            width: 40px;
            height: 4px;
            opacity: 0.5;
            border-radius: 100px;
            background: $light_light_light_blue;
          }
          .swiper-pagination-bullet-active {
            opacity: 1;
          }
        }
      }
    }
  }
}

@include media-breakpoint-down(lg) {
  .brand  {
    .brand_content {
      padding:32px 0 0 0;
      .brand_content_half {
        .brand_content_item {
          width: 50%;
          margin-bottom: 54px;
          padding: 0 10px 0 10px;
          .brand_title {
            font-size: $font-size-20;
          }
          .brand_subtitle {
            font-size: $font-size-14;
          }
        }
      }
    }
  }
}

@include media-breakpoint-down(md) {
  .brand{
    .partner {
      padding-top: 65px;
      .partner_title {
        display: flex;
        flex-flow: row-reverse;
        justify-content: flex-end;
        .partner_title_text {
          font-size: $font-size-20;
        }
        .partner_mark {
          height: 24px;
          margin-left: 20px;
          margin-right: 8px;
          transform: unset;
        }
      }
    }
  }
}
