<div class="modal-header privacy_modal_header">
  <div class="modal_close_icon">
    <h4 class="modal-title pull-left"></h4>
    <img class="modal_close cursor_pointer" (click)="close()" src="../../../../assets/icon/left.png" alt="">
  </div>
  <div class="modal_title_panel">
    <div class="modeal_body_title">隱私權政策</div>
  </div>
</div>
<div class="modal-body privacy_modal_body">
  <div class="modal_privacy">
    本網站乃由好適康國際股份有限公司 (以下簡稱為「本公司」)
    維護，本網站僅限醫療人員使用。經由您提供資料並於本網站註冊後，您將被視為具有醫療人員身分，以進入與瀏覽本網站並使用本網站之相關服務。如您非屬本網站所同意進入的醫療專業人員，請盡速離開本網站。非醫療人員使用本網站應自行承擔相關法律責任。
    <br><br>
    本隱私權政策說明本公司對於造訪本網站之個人，如何蒐集、持有及使用其個人資料。一旦使用本網站，即表示您同意本隱私權政策中所載之個人資料蒐集、處理及利用。您也同意，本公司得隨時變更、修改、增刪或以其他方式更新本隱私權政策，建議您定期造訪本頁，確認隱私政策是否變更。您於任何修改或變更後繼續使用本網站，視為您已閱讀、瞭解並同意接受該等修改或變更
    。我們會隨時遵守資訊蒐集當時的隱私權政策處理您的個人資料。
    <br><br>
    1. 個資蒐集者及蒐集之目的
    <br><br>
    為向您提供本網站相關服務，本公司及其合作夥伴（包括但不限於本網站之開發或維護廠商）將基於下列目的，蒐集您的個人資料：本網站及其它網路平台之技術維護；本網站內容改善；活動及課程通知；經營獲目的事業主管機關許可及營業登記項目或章程所定之業務；依法令規定、法定義務、契約、類契約或其他法律關係等，所需之個人資料之蒐集、處理及利用。
  </div>
</div>
