<div class="contactus">
  <div class="left_panel">
    <div class="contactus_header">
      <h1 class="contactus_header_title">聯絡我們</h1>
      <div class="contactus_header_subtitle">如果您有任何疑問，請填寫以下表單並留下您的聯絡資訊，我們會盡快回覆您。</div>
    </div>
    <div class="contactus_content">
      <div class="two_column">
        <div>
          <div>姓氏</div>
          <input type="text" class="firstname_input" placeholder="請輸入姓氏">
        </div>
        <div>
          <div>名字</div>
          <input type="text" class="lastname_input" placeholder="請輸入名字">
        </div>
      </div>
      <div class="two_column">
        <div>
          <div>聯絡電話</div>
          <input type="text" class="phone_input" placeholder="請輸入聯絡電話">
        </div>
        <div>
          <div>電子信箱</div>
          <input type="text" class="email_input" placeholder="請輸入電子信箱">
        </div>
      </div>
      <div class="one_column">
        <div>
          <div>標題</div>
          <input type="text" class="title_input" placeholder="請輸入標題">
        </div>
      </div>
      <div class="one_column">
        <div>
          <div>內容</div>
          <textarea type="text" class="title_input" placeholder="請輸入內容" rows="2"></textarea>
        </div>
      </div>
      <div class="one_column">
        <div>
          <div>驗證碼</div>
          <div class="d-flex">
            <input type="text" class="title_input" placeholder="請輸入驗證碼">
            <img class="verify_img w-100 h-100" src="../../../../assets/img/demo_verifycode.png" alt="">
          </div>
        </div>
      </div>
      <button class="btn_blue_bg">送出</button>
    </div>
  </div>
  <div class="right_panel">
    <img src="../../../../assets/img/contact_img.png" alt="">
  </div>
</div>
