<div class="feature_article_detail_box_auther">
  <app-scope-title
    [title]="setting.title"
    [showTag]="false"
    [showMoreBtn]="false"
    customClass="feature_article_detail_box_scopeTitle"
  ></app-scope-title>
  <div class="feature_article_detail_box_auther_container">
    <img class="headshot_xl" [src]="setting.img" alt="" />
    <div>
      <div class="feature_article_detail_box_auther_name">{{ setting.autherName }}</div>
      <div class="feature_article_detail_box_auther_text">{{ setting.autherText }}</div>
    </div>
  </div>
</div>
