<div class="feature_video_detail_box">
  <app-breadcrumb [breadcrumbText]="'醫務管理'" (back)="goBack()" (goType)="goToType()"></app-breadcrumb>
  <div class="default_hr mb-4 hide_mobile"></div>
  <div class="feature_video_detail_box_header">
    <div class="feature_video_detail_box_header_tag d-flex mb-2">
      <div class="category_tag">醫學資訊</div>
      <div class="category_tag" routerLink="/pages/subject/10">家醫科</div>
    </div>
    <h1 class="feature_video_detail_box_header_title">從小實施衛教的重要性</h1>
  </div>
  <div class="feature_video_detail_box_video">
    <div data-vimeo-url="https://player.vimeo.com/video/559876766" id="handstick"></div>
  </div>
  <div class="feature_video_detail_box_info d-flex">
    <div class="info_viewer d-flex">觀看次數：1,927 <div class="split"></div> 更新時間：2021/08/07</div>
    <div class="box_btn d-flex">
      <div class="btn_download btn_blue_line">
        <svg class="downloadIcon m-1"></svg>
        下載講義
      </div>
      <div class="btn_bookmark btn_blue_line">
        <svg class="bookmarkIcon m-1"></svg>
        收藏
      </div>
    </div>
  </div>
  <div class="default_hr"></div>
  <div class="mt-4"><img class="w-100" [src]="isMobile ? '../../../../assets/img/video_banner_mobile.png' : '../../../../assets/img/video_banner.png'" alt=""></div>
  <app-scope-title [title]="'課程介紹'" [showTag]="false" [showMoreBtn]="false"
    class="feature_article_detail_box_scopeTitle"></app-scope-title>
  <div class="feature_video_detail_box_editor">
    臺北醫學大學進修推廣處專研生醫領域，已超過20餘年，致力結合一校十院的學術資源，召集各領域優秀醫師及護理師，打造堅強師資，以引領未來的眼界，提供生技、營養、醫療、長照、托育等多元課程。無論是學分先修、在職進修以及培養第二專長，你所需的專業，都能在這裡深入學習，為華人生醫人才培訓第一首選。
  </div>
  <div class="default_hr"></div>
  <app-author-introduce [setting]="autherSetting"></app-author-introduce>
  <div class="default_hr"></div>
  <app-scope-title [title]="'為您推薦'" [showTag]="false" [showMoreBtn]="false"
    class="feature_article_detail_box_scopeTitle"></app-scope-title>
  <app-swiper type="video"> </app-swiper>
</div>
