<app-default-modal [modalRef]="modalRef" [title]="'忘記密碼'"
  [subTitle]="'我們會將變更密碼連結寄送到您的信箱'">
  <div class="modal_body_mailinput" [ngClass]="{'input_error': mail.invalid && (mail.dirty || mail.touched)}">
    <img src="../../../../assets/icon/mail.png" alt="">
    <input id="mail" name="mail" required type="text" class="mail_input" placeholder="請輸入電子信箱" [(ngModel)]="verifyMail" #mail="ngModel">
  </div>
  <div class="verify_text" *ngIf="mail.invalid && (mail.dirty || mail.touched)">
    <div *ngIf="mail.errors?.required">
      必填欄位
    </div>
  </div>
  <button type="button" class="modal_btn_bignextstep">確認</button>
</app-default-modal>
