<app-default-modal [modalRef]="modalRef" [title]="'忘記密碼'"
  [subTitle]="'我們會將變更密碼連結寄送到您的信箱'">
  <div class="modal_body_mailinput" [ngClass]="{'input_error': mail.invalid && (mail.dirty || mail.touched)}">
    <img src="../../../../assets/icon/mail.png" alt="">
    <input id="mail" name="mail" required type="text" class="mail_input" placeholder="請輸入電子信箱" [(ngModel)]="verifyMail" #mail="ngModel">
  </div>
  <div class="verify_text" *ngIf="mail.invalid && (mail.dirty || mail.touched)">
    <div *ngIf="mail.errors?.required">
      必填欄位
    </div>
  </div>
  <button type="button" class="modal_btn_bignextstep" (click)="submit(remindModal)">確認</button>
</app-default-modal>

<ng-template #remindModal>
 <app-default-modal [modalRef]="remindModalRef">
   <div class="remind_body">
     <img src="../../../../assets/img/check.png" alt="">
     <div class="remind_title">已寄送變更密碼信</div>
     <div class="remind_subtitle">請至您的信箱開啟變更密碼連結來設定新密碼</div>
     <button type="button" class="modal_btn_bignextstep remind_btn" (click)="close()">確認</button>
   </div>
 </app-default-modal>
</ng-template>
