<div>
  <div class="privacy_header">
    <h1 class="privacy_header_title">隱私權政策</h1>
    <div class="privacy_header_subtitle">最後更新 2020/7/28</div>
  </div>
  <div class="privacy_content">
    <img src="../../../../assets/img/about_us3.png" alt="" class="w-100">
    <div class="mt-2">
      ckeditor
    </div>
    <div>
      本網站乃由好適康國際股份有限公司 (以下簡稱為「本公司」)
      維護，本網站僅限醫療人員使用。經由您提供資料並於本網站註冊後，您將被視為具有醫療人員身分，以進入與瀏覽本網站並使用本網站之相關服務。如您非屬本網站所同意進入的醫療專業人員，請盡速離開本網站。非醫療人員使用本網站應自行承擔相關法律責任。
    </div>
    <div class="mt-2">
      本隱私權政策說明本公司對於造訪本網站之個人，如何蒐集、持有及使用其個人資料。一旦使用本網站，即表示您同意本隱私權政策中所載之個人資料蒐集、處理及利用。您也同意，本公司得隨時變更、修改、增刪或以其他方式更新本隱私權政策，建議您定期造訪本頁，確認隱私政策是否變更。您於任何修改或變更後繼續使用本網站，視為您已閱讀、瞭解並同意接受該等修改或變更
      。我們會隨時遵守資訊蒐集當時的隱私權政策處理您的個人資料。
    </div>
    <div class="mt-2">
      1. 個資蒐集者及蒐集之目的
    </div>
    <div class="mt-2">
      為向您提供本網站相關服務，本公司及其合作夥伴（包括但不限於本網站之開發或維護廠商）將基於下列目的，蒐集您的個人資料：本網站及其它網路平台之技術維護；本網站內容改善；活動及課程通知；經營獲目的事業主管機關許可及營業登記項目或章程所定之業務；依法令規定、法定義務、契約、類契約或其他法律關係等，所需之個人資料之蒐集、處理及利用。
    </div>
    <div class="mt-2">
      2. 個人資料之類別
    </div>
    <div class="mt-2">
      姓名、醫事人員證號、執業地區、院所、科別、連絡方式（包括但不限於電話號碼、E-MAIL、居住或工作地址）等 ，或其他得以直接或間接識別您個人之資料。
    </div>
    <div class="mt-2">
      3. 個人資料利用之期間、地區、對象及方式
    </div>
    <div class="mt-2">
      (a) 期間：特定目的存續期間、依相關法令或契約約定之保存期限或本公司因執行業務所必須之保存期間。(b) 對象：本公司、本公司之關係企業（包括但不限於台灣大昌華嘉股份有限公司）
      及因本網站業務需要訂有契約關係或業務往來之機構（包括但不限於本網站之開發或維護廠商）。(c) 地區：前揭對象之國內或國外所在地。(d) 方式：以自動化機器或其他非自動化之利用方式（包括但不限於書面或電子、國際傳輸）。
    </div>
    <div class="mt-2">
      4. 您不提供個人資料所致權益之影響
    </div>
    <div class="mt-2">
      您得自由選擇是否提供個資，惟如您拒絕提供資訊，本公司將無法進行必要之審核及處理作業，致無法提供相關服務。
    </div>
    <div class="mt-2">
      本公司及其關係企業承諾嚴格遵守《個人資料保護法》的條款及履行其所定下之有關義務。有關您的個人資料，我們只會在前揭目的及法律所許可之範圍內作蒐集、處理及利用。依法您有權就您所提供之個人資料1).查詢或請求閱覽;
      2).請求製給複製本; 3).請求補充或更正; 4).請求停止蒐集、處理或利用; 5).請求刪除。如您有前揭請求，請致函114台北市內湖區堤頂大道二段407巷22號10樓本公司或致電02-8752-6666
      。您所提供的個人資料，我們將於使用目的完成、或依相關法令、契約約定、或本公司內規之保存年限過後予以銷毀。
    </div>
  </div>
</div>
