<div class="footer footer_padding" *ngIf="!isMobile; else mobile_footer">
  <hr class="footer_hr" />
  <div class="footer_content d-flex">
    <div class="footer_content_logo">
      <img class="DKSH-icon" src="../../../assets/img/DKSH_big.png" width="152" height="47" alt="" />
    </div>
    <div class="d-flex">
      <div class="footer_content_contact">
        <div class="footer_content_contact_title">聯絡我們</div>
        <div class="footer_content_contact_text">contact.us@dksh.com</div>
      </div>
      <div class="footer_content_link">
        <div class="footer_content_contact_text cursor_pointer" routerLink="/pages/feature-video">課程影片</div>
        <div class="footer_content_contact_text cursor_pointer" routerLink="/pages/feature-article">專題文章</div>
        <div class="footer_content_contact_text cursor_pointer" routerLink="/pages/feature-active">活動消息</div>
        <div class="footer_content_contact_text cursor_pointer" routerLink="/pages/feature-download">檔案下載</div>
      </div>
      <div class="footer_content_linkcontact">
        <div class="footer_content_contact_text cursor_pointer" routerLink="/pages/regulations/aboutus" (click)="set('aboutus')">關於我們</div>
        <div class="footer_content_contact_text cursor_pointer" routerLink="/pages/regulations/contactus" (click)="set('contactus')">聯絡我們</div>
      </div>
    </div>
  </div>
  <hr class="footer_hr" />
  <div class="footer_copyright d-flex">
    <div class="footer_copyright_text">
      <div class="footer_copyright_english">Copyright @ 2021 Good Health Solutions International All rights reserved. Powered by Dr. Talk.</div>
      <div class="footer_copyright_chinese cursor_pointer"><span routerLink="/pages/regulations/terms-of-use" (click)="set('terms-of-use')">使用條款</span>•<span routerLink="/pages/regulations/privacy" (click)="set('privacy')">隱私權政策</span></div>
    </div>
    <app-language-dropdown></app-language-dropdown>
  </div>
</div>

<ng-template #mobile_footer>
  <div class="footer_mobile footer_padding_mobile">
    <div class="footer_content_mobile">
      <div class="footer_content_mobile_logo">
        <img class="DKSH-icon" src="../../../assets/img/DKSH_big.png" width="103" height="32" alt="" />
      </div>
      <!-- <div class="footer_content_mobile_text">
        <div>contact.us@dksh.com</div>
      </div> -->
    </div>
    <hr class="footer_hr_mobile" />
    <div class="footer_copyright_mobile">
      <div class="footer_copyright_english_mobile">
        Copyright @ 2021 Good Health Solutions International All rights reserved. Powered by Dr. Talk.
      </div>
      <div class="footer_copyright_content_mobile d-flex">
        <div class="footer_copyright_content_text_mobile cursor_pointer"><span routerLink="/pages/regulations/terms-of-use" (click)="set('terms-of-use')">使用條款</span>•<span routerLink="/pages/regulations/privacy" (click)="set('privacy')">隱私權政策</span></div>
        <div>
          <app-language-dropdown></app-language-dropdown>
        </div>
      </div>
    </div>
  </div>
</ng-template>
