<div class="footer">
  <hr class="footer_hr">
  <div class="footer_content d-flex">
    <div class="footer_content_logo">
      <img class="DKSH-icon" src="../../../assets/img/DKSH_big.png" width="152" height="47" alt="">
    </div>
    <div class="d-flex">
      <div class="footer_content_contact">
        <div class="footer_content_contact_title">聯絡我們</div>
        <div class="footer_content_contact_text">contact.us@dksh.com</div>
      </div>
      <div class="footer_content_link">
        <div class="footer_content_contact_text">課程影片</div>
        <div class="footer_content_contact_text">專題文章</div>
        <div class="footer_content_contact_text">活動消息</div>
        <div class="footer_content_contact_text">檔案下載</div>
      </div>
      <div class="footer_content_linkcontact">
        <div class="footer_content_contact_text">關於我們</div>
        <div class="footer_content_contact_text">聯絡我們</div>
      </div>
    </div>
  </div>
  <hr class="footer_hr">
  <div class="footer_copyright d-flex">
    <div class="footer_copyright_text">
      <div class="footer_copyright_english">Copyright @ 2021 Good Health Solutions International All rights reserved.
        Powered by Dr. Talk.</div>
      <div class="footer_copyright_chinese">使用條款•隱私權政策</div>
    </div>
    <div class="btn-group footer_language" dropdown [dropup]="true">
      <button id="button-dropup" dropdownToggle type="button" class="btn btn_language dropdown-toggle"
        aria-controls="dropdown-dropup">
        繁體中文 <span class="caret"></span>
      </button>
      <ul id="language" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-dropup">
        <li role="menuitem"><a class="dropdown-item" href="#">繁體中文</a></li>
        <li role="menuitem"><a class="dropdown-item" href="#">English</a>
        </li>
      </ul>
    </div>
    <!-- <div class="footer_language" dropdown [dropup]="true">
      <button dropdownToggle type="button" class="btn btn_language dropdown-toggle" aria-controls="dropdown-basic">
        繁體中文 <span class="caret"></span>
      </button>
      <ul id="language" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
        <li role="menuitem"><a class="dropdown-item" href="#">繁體中文</a></li>
        <li role="menuitem"><a class="dropdown-item" href="#">English</a></li>
      </ul>
    </div> -->

  </div>
</div>
