// basic
.cursor_pointer {
  cursor: pointer;
}

// headshot lg
.headshot_lg {
  height: 44px;
  width: 44px;
  border-radius: 100px;
  margin-right: 16px;
  margin-top: 8px;
}

// headshot sm
.headshot_sm {
  height: 24px;
  width: 24px;
  border-radius: 100px;
  margin-right: 16px;
}

// limit width 1366px
.width_limit {
  max-width: 1366px;
  margin: auto;
}

// swiper
body swiper.video_swiper .swiper-wrapper .swiper-slide {
  width: 325px !important;
}
.swiper_button_next,
.swiper_button_prev {
  width: 44px;
  height: 44px;
  border-radius: 100px;
  background: #ffffff;
  border: 2px solid #e8e8e8;
  position: absolute;
  z-index: 11;
  margin-top: 115px;
  &.disabled {
    display: none;
  }
}

.swiper_button_next {
  right: -10px;
}

.swiper_button_prev {
  left: -20px;
}

// icon
.eyeIcon {
  background-image: url('../assets/icon/eye.svg');
  width: 52px;
  height: 34px;
}

.eyeIconSm {
  background-image: url('../assets/icon/eye.svg');
  width: 30px;
  height: 20px;
  background-size: 30px 20px;
}

.swiper_prev {
  width: 24px;
  height: 24px;
  background-image: url(../assets/icon/arrow-left.svg);
}

.swiper_next {
  width: 24px;
  height: 24px;
  background-image: url(../assets/icon/arrow-right.svg);
}
