// headshot lg
.headshot_lg {
  height: 44px;
  width: 44px;
  border-radius: 100px;
  margin-right: 16px;
  margin-top: 8px;
}

// headshot sm

// icon
.eyeIcon {
  background-image: url('../assets/icon/eye.svg');
  width: 52px;
  height: 34px;
}
