// headshot lg
.headshot_lg {
  height: 44px;
  width: 44px;
  border-radius: 100px;
  margin-right: 16px;
  margin-top: 8px;
}

// headshot sm
.headshot_sm {
  height: 24px;
  width: 24px;
  border-radius: 100px;
  margin-right: 16px;
}

// limit width 1366px
.width_limit {
  max-width: 1366px;
  margin: auto
}

// swiper
body swiper .swiper-button-next,
body swiper .swiper-button-prev {
  width: 44px;
  height: 44px;
  border-radius: 100px;
  background: #ffffff;
  border: 2px solid #e8e8e8;
  &.swiper-button-disabled {
    display: none;
  }
  &::after {
    font-size: 20px;
  }
}

body swiper .swiper-button-next {
  right: 0;
  &::after {
    content: url(../assets/icon/arrow-right.svg);
    margin-right: -4px;
  }
}
body swiper .swiper-button-prev {
  left: 0;
  &::after {
    content: url(../assets/icon/arrow-left.svg);
    margin-left: -4px;
  }
}

// icon
.eyeIcon {
  background-image: url('../assets/icon/eye.svg');
  width: 52px;
  height: 34px;
}
