// Text
$font-family: 'Noto Sans TC';

$font-size-28: 28px;
$font-size-20: 20px;
$font-size-18: 18px;
$font-size-16: 16px;
$font-size-14: 14px;
$font-size-12: 12px;

// color
$grey: #444749;
$light_grey: #8a8c8d;
$light_light_grey: #f6f6f6;
$light_light_light_grey: #f5f7f9;
$light_light_light_light_grey: #fdf4f5;
$white: #ffffff;
$black: #15191c;
$pink: #fbe9eb;
$red: #d42335;
$blue: #3b5a90;
$light_blue: #9dacc7
