// Text
$font-family: 'Noto Sans TC, Lato';

$font-size-28: 28px;
$font-size-24: 24px;
$font-size-20: 20px;
$font-size-18: 18px;
$font-size-16: 16px;
$font-size-14: 14px;
$font-size-12: 12px;

// color
$grey: #444749;
$light_grey: #8a8c8d;
$light_light_grey: #f6f6f6;
$light_light_light_grey: #f5f7f9;
$light_light_light_light_grey: #fdf4f5;
$light_light_light_light_light_grey: #fafafa;
$light_light_light_light_light_light_grey: #c4cede;
$light_light_light_light_light_light_light_grey: #f3f3f4;
$hr_grey: #e8e8e8;
$border_grey: #b9babb;
$white: #ffffff;
$black: #15191c;
$light_black: #200e32;
$light_light_black: #444749;
$pink: #fbe9eb;
$red: #d42335;
$pink_red: #dd4f5d;
$light_red: #eb5757;
$light_light_red: #fbe9eb;
$dark_red: #b91f2e;
$light_light_red: #fdf2f2;
$deep_blue: #2b436b;
$deep_deep_blue: #627BA6;
$blue: #3b5a90;
$light_blue: #9dacc7;
$light_light_blue: #ebeff4;
$light_light_light_blue: #b9c8dd;
$light_light_light_light_blue: #f4f7fd;
$green: #50b635;
$dark_green: #2bbf6a;
$light_green: #eefaf3;
