@import '../../../styles/variables.scss';
@import '../../../styles/bootstrap.scss';

.new_active_box {
  min-width: 335px;
  max-width: 928px;
  min-height: 230px;
  margin-bottom: 20px;
}

.new_active_left {
  width: 335px;
  height: 230px;
  margin-right: 20px;
  margin-bottom: 16px;
  img {
    border-radius: 14px;
  }
}

.new_active_right_content {
  margin-top: 8px;
}

.new_active_right_content_subTitle {
  color: $grey;
  font-size: $font-size-14;
  margin-top: 8px;
  margin-bottom: 20px;
}

.new_active_right_tags_item {
  height: 32px;
  background-color: $pink;
  color: $red;
  border-radius: 100px;
  font-size: $font-size-16;
  line-height: 32px;
  padding: 0 14px;
  margin-right: 8px;
}

.new_active_right_footer {
  color: $grey;
  font-size: $font-size-14;
}

.new_active_right_footer_people {
  margin: 8px 0;
}

@include media-breakpoint-down(sm) {
  .new_active_box {
    padding-right: 20px;
  }
}
