<div class="new_active_box d-flex">
  <div class="new_active_left">
    <img src="../../../assets/img/fakeImge/new_active_fake_img.png" alt="" />
  </div>
  <div class="new_active_right">
    <div class="new_active_right_tags d-flex">
      <p class="new_active_right_tags_item">線上研討會</p>
      <p class="new_active_right_tags_item">系列講座</p>
    </div>
    <div class="new_active_right_content">
      <h3>110年安泰醫療社團法人安泰醫院辦理醫護人員教育訓練計畫</h3>
      <div class="new_active_right_content_subTitle">地點：安泰醫院</div>
    </div>
    <div class="new_active_right_footer">
      <div>
        <img src="" alt="" />
        <p>黃織芬 教授</p>
      </div>
      <div>2021/05/11 19:00-2021/05/13 17:00</div>
    </div>
  </div>
</div>
