<div class="modal-header success_modal_header">
  <img class="modal_close_icon cursor_pointer" (click)="modalRef.hide()" src="../../../../assets/img/modal_close_circle.png" alt="">
  <img class="success_doctor_img" src="../../../../assets/img/success_doctor.png" alt="">
  <div>
    <img class="success_header_img" src="../../../../assets/img/success_title.png" alt="">
  </div>
  <div class="modal_title_panel modal-header-padding">
    <div class="modal_body_title">{{title}}</div>
    <div class="modal_body_subtitle">{{subTitle}}</div>
  </div>
</div>
<div class="modal-body success_modal_body">
  <img class="qrcode_img" src="../../../../assets/img/fakeImge/fake_qrcode.png" alt="" width="100" height="100">
</div>
