<div>
  <div class="terms_header">
    <h1 class="terms_header_title">使用條款</h1>
    <div class="terms_header_subtitle">最後更新 2020/7/28</div>
  </div>
  <div class="terms_content">
    <img src="../../../../assets/img/about_us2.png" alt="" class="w-100">
    <div class="mt-2">
      ckeditor
    </div>
    <div>
      本網站乃由好適康國際股份有限公司 (以下簡稱為「本公司」)
      維護，本網站僅限醫療人員使用。經由您提供資料並於本網站註冊後，您將被視為具有醫療人員身分，以進入與瀏覽本網站並使用本網站之相關服務。如您非屬本網站所同意進入的醫療專業人員，請盡速離開本網站。非醫療人員使用本網站應自行承擔相關法律責任。
    </div>
    <div class="mt-2">
      使用本網站即代表您已閱讀、瞭解並同意遵守本使用條款，您與本公司間關於使用本網站之其他協議均被本使用條款所取代且已失效。本公司保留隨時更改一切有關使用條款之權利。您於任何修改或變更後繼續使用本網站，視為您已閱讀、瞭解並同意接受該等修改或變更。
    </div>
    <div class="mt-2">
      免責聲明
    </div>
    <div class="mt-2">
      本公司已盡力確保本網站提供正確、完整及最新的資訊，並將註明內容提供者
      ，惟本網站及本網站所連結的第三方網站之內容係以「現況」提供，本公司不提供任何明示或默示的擔保，包括但不限於準確性、完整性、即時性、適銷性、特定用途適用性或未侵害他人權益。您瞭解存取與使用本網站、本網站所連結的第三方網站及其中所含內容，均為您個人之決定，且應自行承擔所有相關風險。不論您聲稱之原因或責任理論為何，本公司均不因此承擔任何損害補償責任，包括但不限於人員或利益損害。
    </div>
    <div class="mt-2">
      本網站上的任何內容都不應被解釋為對您或他人健康有關之決定或行為提供建議或推薦。若您是醫師或其他合格的專業醫療人士，您應行使個人專業判斷力以衡量本網站所提供資料，不應使本網站內容取代您的專業判斷。無論在任何情況下，本公司均不會承擔您以任何形式使用或信賴本網站內容而遭受損失的責任。
    </div>
    <div class="mt-2">
      智慧財產權及資訊的使用
    </div>
    <div class="mt-2">
      本網站所使用之軟體或程式、網站上所有內容，包括但不限於著作、圖片、檔案、資訊、資料、網站架構、網站畫面的安排、網頁設計，其智慧財產權均由本公司或其他權利人依法擁有或取得授權，包括但不限於商標權、專利權、著作權、營業秘密與專有技術等。除另有約定外，任何人不得逕自使用、修改、重製、公開播送、改作、散布、發行、公開發表、進行還原工程、解編或反向組譯。
    </div>
    <div class="mt-2">
      您可以自由瀏覽本網站，但僅限基於個人非商業目的而存取、下載或使用本網站上的資訊，包括任何文字、圖像、音檔及影片（合稱「本資訊」）。未經本公司之書面同意，您不得基於商業目的散佈、修改、傳送、再利用、轉貼或以其他方式使用本資訊。就所下載之本資訊，您必須完整保留其中包含的每項著作權聲明或其他專有權利聲明。您應預設，除非另有註明，本網站上的一切內容皆應視為受著作權保護，且非經本公司書面同意，僅限依本使用條款或本網站規定使用之。。除前述有限授權外，本公司並未向您授予或賦予任何其他權利。若您不確定使用本網站內的資料是否合法，請與本網站聯繫。
    </div>
    <div class="mt-2">
      數位軌跡
    </div>
    <div class="mt-2">
      除了我們隱私權政策中所涵蓋之個人資料外，您於本網站的溝通內容或資料，包括任何資料、問題、意見、建議或類似內容，包括但不限於：
    </div>
    <div class="mt-2">
      您傳送及接收之傳輸內容（包括訊息、網址資訊、影像、影片、貼圖及效果等）；
    </div>
    <div class="mt-2">
      您傳送及接收所有內容的發送或撥話格式、次數、時間長度及接收發送對象等（下稱「格式等資訊」），以及透過網際協議通話技術（VoIP；網路電話及視訊通話）及其他功能所處理的內容格式等資訊；及帳號使用的IP位址、使用各項功能的時間、已接收內容是否已讀、網址的點選等、服務使用紀錄。
    </div>
    <div class="mt-2">
      前述資訊都將被視為非機密及非專有的資訊。您茲此將所有您傳送或張貼於本網站的任何內容及前述資訊，授予本公司免權利金、非專屬、不可撤回、可轉授權的全球永久授權，本公司得基於任何目的蒐集並使用之，包括但不限於使用、散布、重製、修改、調整、公布、翻譯、公開表演或公開展示，或提供予第三方以協助開發及改善本網站。此外，本公司可基於任何目的，自由使用您傳送至本網站之溝通內容中所包含的任何構想、概念、專門知識或技術，包括但不限於將此等資訊用於產品開發、生產及銷售，無須給您補償。
    </div>
    <div class="mt-2">
      導向其他網站的連結
    </div>
    <div class="mt-2">
      本網站可能會含有第三方網站之資訊或連結到第三方網站。請注意此類資訊或連結會經由網路提供。本公司無法控制我們提供的連結所導向的第三方網站或其他網站之內容，亦無法為其負責，該外部網站一切資訊的正確性、合法性或爭議均與本公司及本網站無涉，概由該網站負責。對於第三方隱私權政策的違反或疏漏，本公司不負任何責任。
    </div>
    <div class="mt-2">
      合法使用本網站
    </div>
    <div class="mt-2">
      您承諾絕不為任何非法目的或以任何非法方式使用本網站，不會利用本網站從事侵害他人權益或違法之行為，並承諾遵守中華民國相關法規及一切適用法律。
    </div>
    <div class="mt-2">
      您同意本公司得基於其考量，終止您註冊之帳號或本網站使用權限，並移除您發布在本網站的資料，不限原因，包括但不限於違反本使用條款，或不符合本使用條款與條件的原則或精神，。
    </div>
    <div class="mt-2">
      若您使用本網站有違反本使用條款或侵犯他人權利之行為，您同意賠償、抗辯並維護本公司、其關係企業及其管理人員、員工和供應商，使其免受任何第三方提出或聲稱的任何補償或要求，包含合理的律師費用。
    </div>
    <div class="mt-2">
      無更新之義務
    </div>
    <div class="mt-2">
      本網站所載之資訊以所示日期為準。本公司無義務更新資訊以反映後續發展。本公司有權隨時修改或暫時、永久關閉本網站，不一定會另行通知。若本網站修改或暫時、永久關閉，本公司概不因此對您或第三方負擔任何責任。</div>
  </div>
</div>
