@import '../../../../styles/variables.scss';
@import '../../../../styles/bootstrap.scss';


.modal-header {
  display: block !important;
  border-bottom: unset;
  padding: 20px 1.5rem 8px 1.5rem;
}

.modal_close_icon {
  text-align: right;
}

.modal_title_panel {
  padding-top: 0px;
  text-align: center;
  .modal_body_title {
    font-size: $font-size-28;
    color: $black;
    margin-bottom: 8px;
  }
  .modal_body_subtitle {
    font-size: $font-size-14;
    color: $light_grey;
    line-height: 18x;
  }
}

.recheck_modal_title_panel{
  padding-top: 0px;
  text-align: left;
  .recheck_modal_body_title {
    font-size: $font-size-20;
    color: $blue;
    margin-bottom: 4px;
    font-weight: bold;
  }
  .recheck_modal_body_subtitle {
    font-size: $font-size-14;
    color: $light_grey;
    line-height: 18x;
  }
}

.modal-body {
  padding: 1.5rem;
  padding-top: 0px;
  text-align: center;
}

.register_identity_button {
  margin-top: 16px;
  margin-bottom: 8px;
  justify-content: space-between;
}

.modal_btn_laststep {
  width: 48%;
  height: 40px;
  background: $white;
  border: 1px solid $light_blue;
  border-radius: 100px;
  font-weight: 500;
  font-size: $font-size-16;
  color: $blue;
}

.modal_btn_nextstep {
  width: 48%;
  height: 40px;
  background: $blue;
  border-radius: 100px;
  font-weight: 500;
  font-size: $font-size-16;
  color: $white;
  border: unset;
}
