<app-default-modal [modalRef]="modalRef" [title]="title" [subTitle]="subTitle" [needRecheck]="true">
  <div class="d-flex register_status" *ngIf="showStepIcon">
    <div class="information">
      <img src="../../../../assets/img/register_user_done.png" alt="" width="32" height="32">
      <div class="register_select">基本資訊</div>
    </div>
    <div class="divider">
      <div class="line"></div>
    </div>
    <div class="identifying">
      <img src="../../../../assets/img/register_shild_done.png" alt="" width="32" height="32">
      <div class="register_select">確認身份</div>
    </div>
    <div class="divider">
      <div class="line"></div>
    </div>
    <div class="account">
      <img src="../../../../assets/img/register_account_enabled.png" alt="" width="32" height="32">
      <div class="register_select">設定帳號</div>
    </div>
  </div>
  <div class="register_information">
    <div class="register_account">
      <div class="account d-flex">
        <div class="account_text">帳號</div>
        <div *ngIf="verifyEmailStatus" class="account_verify d-flex">
          <img src="../../../../assets/icon/shield_done.png" alt="" width="14" height="14">已驗證
        </div>
      </div>
      <input required type="text" class="account_input" placeholder="請輸入帳號" [(ngModel)]="registerAccount.account"
        #account="ngModel" [ngClass]="{'input_error': account.invalid && (account.dirty || account.touched)}">
      <ng-template #accountTips>
        <div class="nickname_tips">此電子信箱將是您未來登入的帳號</div>
      </ng-template>
    </div>
    <div class="verify_text" *ngIf="account.invalid && (account.dirty || account.touched); else accountTips">
      <div *ngIf="account.errors?.required">
        必填欄位
      </div>
    </div>
    <div *ngIf="!verifyEmailStatus" class="verify_email d-flex cursor_pointer"
      (click)="verifyEmail(verifyEmailModal)">
      驗證信箱<img width="14" height="14" src="../../../../assets/icon/right.png" alt="">
    </div>
    <div class="register_password">
      密碼
      <input required type="password" class="password_input" placeholder="請輸入密碼"
        [(ngModel)]="registerAccount.password" #password="ngModel"
        [ngClass]="{'input_error': password.invalid && (password.dirty || password.touched)}">
      <ng-template #passwordTips>
        <div class="nickname_tips">需包含英文與數字，並且至少 8 位數以上</div>
      </ng-template>
    </div>
    <div class="verify_text" *ngIf="password.invalid && (password.dirty || password.touched); else passwordTips">
      <div *ngIf="password.errors?.required">
        必填欄位
      </div>
    </div>
    <div class="register_checkpassword">
      確認密碼
      <input required type="password" class="checkpassword_input" placeholder="請輸入密碼"
        [(ngModel)]="registerAccount.confirmPassword" #confirmPassword="ngModel"
        [ngClass]="{'input_error': confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)}">
    </div>
    <div class="verify_text" *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)">
      <div *ngIf="confirmPassword.errors?.required">
        必填欄位
      </div>
    </div>
    <div class="privacy">點擊「註冊」表示您已閱讀且同意本網站的<span class="cursor_pointer privacy_text">使用條款</span>以及<span
        class="cursor_pointer privacy_text" (click)="openPrivacyModal(privacyModal)"> 隱私權政策</span>。</div>
  </div>
  <div class="register_identity_button isdoctor d-flex">
    <button type="button" class="modal_btn_laststep" (click)="backStepModal()">上一步</button>
    <button type="button" class="modal_btn_nextstep" (click)="registerModal()">註冊</button>
  </div>
</app-default-modal>

<ng-template #verifyEmailModal>
  <app-verify-modal [modalRef]="verifyEmailModalRef" [title]="'驗證信箱'" [subTitle]="'已寄送驗證碼至您的信箱，若有任何問題請聯絡我們'"
    (verifyStatus)="getVerifyStatus($event)">
  </app-verify-modal>
</ng-template>

<ng-template #privacyModal>
  <app-privacy-modal [modalRef]="privacyModalRef" (closePrivacy)="closePrivacyModal($event)">
  </app-privacy-modal>
</ng-template>
