<app-default-modal [modalRef]="modalRef" [title]="title" [subTitle]="subTitle" [needRecheck]="true">
  <div class="d-flex register_status">
    <div class="information">
      <img src="../../../../assets/img/register_user_enabled.png" alt="" width="32" height="32">
      <div class="register_select">基本資訊</div>
    </div>
    <div class="divider">
      <div class="line line_register"></div>
    </div>
    <div class="identifying">
      <img src="../../../../assets/img/register_shild_disable.png" alt="" width="32" height="32">
      <div class="register_unselect">確認身份</div>
    </div>
  </div>
  <div class="register_information">
    <div class="register_nickname">
      暱稱
      <input required type="text" class="nickname_input" placeholder="請輸入暱稱" [(ngModel)]="registerUserInfo.nickname"
        #nickname="ngModel" [ngClass]="{'input_error': nickname.invalid && (nickname.dirty || nickname.touched)}">
      <ng-template #nicktips>
        <div class="nickname_tips">字數上限為12個字元</div>
      </ng-template>
    </div>
    <div class="verify_text" *ngIf="nickname.invalid && (nickname.dirty || nickname.touched); else nicktips">
      <div *ngIf="nickname.errors?.required">
        必填欄位
      </div>
    </div>
    <div class="register_firstname">
      姓氏
      <input required type="text" class="firstname_input" placeholder="請輸入姓氏" [(ngModel)]="registerUserInfo.firstname"
        #firstname="ngModel" [ngClass]="{'input_error': firstname.invalid && (firstname.dirty || firstname.touched)}">
    </div>
    <div class="verify_text" *ngIf="firstname.invalid && (firstname.dirty || firstname.touched)">
      <div *ngIf="firstname.errors?.required">
        必填欄位
      </div>
    </div>
    <div class="register_lastname">
      名字
      <input required type="text" class="lastname_input" placeholder="請輸入名字" [(ngModel)]="registerUserInfo.lastname"
        #lastname="ngModel" [ngClass]="{'input_error': lastname.invalid && (lastname.dirty || lastname.touched)}">
    </div>
    <div class="verify_text" *ngIf="lastname.invalid && (lastname.dirty || lastname.touched)">
      <div *ngIf="lastname.errors?.required">
        必填欄位
      </div>
    </div>
    <div class="register_phone">
      手機號碼
      <input required type="text" class="firstname_phone" placeholder="請輸入手機號碼" [(ngModel)]="registerUserInfo.phone"
        #phone="ngModel" [ngClass]="{'input_error': phone.invalid && (phone.dirty || phone.touched)}">
    </div>
    <div class="verify_text" *ngIf="phone.invalid && (phone.dirty || phone.touched)">
      <div *ngIf="phone.errors?.required">
        必填欄位
      </div>
    </div>
  </div>
  <button type="button" class="modal_btn_bignextstep" (click)="registerLineSecondStep(registerLineSecond)">下一步</button>
</app-default-modal>


<ng-template #registerLineSecond>
  <app-default-modal [modalRef]="registerLineSecondStepModalRef" [title]="title" [subTitle]="subTitle" [needRecheck]="true">
    <div class="d-flex register_status">
      <div class="information">
        <img src="../../../../assets/img/register_user_done.png" alt="" width="32" height="32">
        <div class="register_select">基本資訊</div>
      </div>
      <div class="divider">
        <div class="line line_register active"></div>
      </div>
      <div class="identifying">
        <img src="../../../../assets/img/register_shild_enabled.png" alt="" width="32" height="32">
        <div class="register_select">確認身份</div>
      </div>
    </div>
    <div class="check_register_identity">
      <div class="check_text d-flex">
        <div class="check_text_text">是否為醫療相關從業人員？</div>
        <img class="cursor_pointer" src="../../../../assets/img/tooltips_icon.png" alt="" width="16" height="16"
          tooltip="若您的身份為醫生、護士等行業，或就讀醫療相關學系，請選擇「是」，若皆不是請選擇「否」" placement="bottom">
      </div>
      <div class="check_radiobutton d-flex">
        <div class="radio_panel d-flex" [ngClass]="{'checked': registerIdentity === false}">
          <div class="check_panel">
            <input class="form-check-input" [(ngModel)]="registerIdentity" [value]="false" type="radio"
              name="check_doctor" id="radio_no">
            <label class="form-check-label" for="radio_no">
              否
            </label>
          </div>
          <img src="../../../../assets/img/not_doctor.png" alt="" width="100" height="100">
        </div>
        <div class="radio_panel d-flex" [ngClass]="{'checked': registerIdentity}">
          <div class="check_panel">
            <input class="form-check-input" [(ngModel)]="registerIdentity" [value]="true" type="radio"
              name="check_doctor" id="radio_yes">
            <label class="form-check-label" for="radio_yes">
              是
            </label>
          </div>
          <img src="../../../../assets/img/is_doctor.png" alt="">
        </div>
      </div>
      <div class="register_information register_job_information" *ngIf="registerIdentity">
        <div class="register_job">
          職業
          <div class="btn-group job_select" dropdown [ngClass]="{'input_error': isJobEmpty}" (onHidden)="validateJobDropdown()">
            <button dropdownToggle type="button" class="btn dropdown-toggle" [ngClass]="{'select': registerJob.job}">
              {{registerJob.job ? registerJob.job : '請選擇職業'}}
              <div class="arrow_down" [ngClass]="{'unselect': !registerJob.job}"></div>
              <div class="arrow_up" [ngClass]="{'unselect': !registerJob.job}"></div>
            </button>
            <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu">
              <li><a class="dropdown-item" (click)="setRegisterJob(registerJob,'job','醫師')">醫師</a></li>
              <li><a class="dropdown-item" (click)="setRegisterJob(registerJob,'job','中醫師')">中醫師</a></li>
              <li><a class="dropdown-item" (click)="setRegisterJob(registerJob,'job','助產師')">助產師</a></li>
              <li><a class="dropdown-item" (click)="setRegisterJob(registerJob,'job','呼吸治療師')">呼吸治療師</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="verify_text" *ngIf="isJobEmpty">
          <div>
            必填欄位
          </div>
        </div>
        <div class="register_jobname">
          執業單位名稱
          <input required type="text" class="jobname_input" placeholder="請選擇執業單位名稱" [(ngModel)]="registerJob.jobCompany"
            #jobCompany="ngModel"
            [ngClass]="{'input_error': jobCompany.invalid && (jobCompany.dirty || jobCompany.touched)}">
        </div>
        <div class="verify_text" *ngIf="jobCompany.invalid && (jobCompany.dirty || jobCompany.touched)">
          <div *ngIf="jobCompany.errors?.required">
            必填欄位
          </div>
        </div>
        <div class="register_jobcity">
          執業縣市
          <div class="btn-group job_select" dropdown [ngClass]="{'input_error': isJobCityEmpty}" (onHidden)="validateJobCityDropdown()">
            <button dropdownToggle type="button" class="btn dropdown-toggle"
              [ngClass]="{'select': registerJob.jobCity}">
              {{registerJob.jobCity ? registerJob.jobCity : '請選擇執業縣市'}}
              <div class="arrow_down" [ngClass]="{'unselect': !registerJob.jobCity}"></div>
              <div class="arrow_up" [ngClass]="{'unselect': !registerJob.jobCity}"></div>
            </button>
            <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu">
              <li><a class="dropdown-item" (click)="setRegisterJob(registerJob,'jobCity','台北市')">台北市</a></li>
              <li><a class="dropdown-item" (click)="setRegisterJob(registerJob,'jobCity','新北市')">新北市</a></li>
              <li><a class="dropdown-item" (click)="setRegisterJob(registerJob,'jobCity','台中市')">台中市</a></li>
              <li><a class="dropdown-item" (click)="setRegisterJob(registerJob,'jobCity','高雄市')">高雄市</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="verify_text" *ngIf="isJobCityEmpty">
          <div>
            必填欄位
          </div>
        </div>
        <div class="register_jobtype">
          執業科別
          <div class="btn-group job_select" dropdown [ngClass]="{'input_error': isJobTypeEmpty}" (onHidden)="validateJobTypeDropdown()">
            <button dropdownToggle type="button" class="btn dropdown-toggle"
              [ngClass]="{'select': registerJob.jobType}">
              {{registerJob.jobType ? registerJob.jobType : '請選擇執業科別'}}
              <div class="arrow_down" [ngClass]="{'unselect': !registerJob.jobType}"></div>
              <div class="arrow_up" [ngClass]="{'unselect': !registerJob.jobType}"></div>
            </button>
            <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu">
              <li><a class="dropdown-item" (click)="setRegisterJob(registerJob,'jobType','內科')">內科</a></li>
              <li><a class="dropdown-item" (click)="setRegisterJob(registerJob,'jobType','外科')">外科</a></li>
              <li><a class="dropdown-item" (click)="setRegisterJob(registerJob,'jobType','婦產科')">婦產科</a></li>
              <li><a class="dropdown-item" (click)="setRegisterJob(registerJob,'jobType','小兒科')">小兒科</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="verify_text" *ngIf="isJobTypeEmpty">
          <div>
            必填欄位
          </div>
        </div>
        <div class="register_doctorid">
          醫事人員證號
          <input required type="text" class="doctorid_input" placeholder="請輸入醫事人員證號" [(ngModel)]="registerJob.doctorId"
            #doctorId="ngModel" [ngClass]="{'input_error': doctorId.invalid && (doctorId.dirty || doctorId.touched)}">
          <ng-template #idtips>
            <div class="nickname_tips">提供證號可以加速您的身份審核</div>
          </ng-template>
        </div>
        <div class="verify_text" *ngIf="doctorId.invalid && (doctorId.dirty || doctorId.touched); else idtips">
          <div *ngIf="doctorId.errors?.required">
            必填欄位
          </div>
        </div>
      </div>
      <div class="register_identity_button d-flex" [ngClass]="{'isdoctor': registerIdentity}">
        <button type="button" class="modal_btn_laststep" (click)="backLineFirstStep()">上一步</button>
        <button type="button" class="modal_btn_nextstep" [ngClass]="{'disabled': registerIdentity === undefined}"
          (click)="isEdit ? openCheckDoctorModal(checkIsDoctor) : registerLearnCheck(registerLearn)" [disabled]="registerIdentity === undefined">{{isEdit ? '儲存' : '完成'}}</button>
      </div>
    </div>
  </app-default-modal>
</ng-template>

<!-- <ng-template #registerLineSecond>
  <app-regisiter-job-modal [modalRef]="registerLineSecondStepModalRef" [title]="title" [subTitle]="subTitle" [isEdit]="isEdit"
  [registerJob]="registerJob" [registerIdentity]="registerIdentity" (backFirstStep)="backLineFirstStep($event)" (gotoLearnCkech)="isEdit ? openCheckDoctorModal(checkIsDoctor) : registerLearnCheck(registerLearn)"></app-regisiter-job-modal>
</ng-template> -->

<ng-template #registerLearn>
  <app-register-learn-modal [modalRef]="registerLearnCheckModalRef" (passSetLearn)="registerToSuccess(registerSuccess)"
    (successSetLearn)="registerToSuccess(registerSuccess)">
  </app-register-learn-modal>
</ng-template>

<ng-template #registerSuccess>
  <app-success-modal [modalRef]="registerSuccessModalRef" [title]="'您已註冊完成！'"
    [subTitle]="'您可以掃描 Qrcode 進入我們的 Line 官方帳號後，即可將您的帳號與個人 Line 帳號綁定'">
  </app-success-modal>
</ng-template>

<ng-template #checkIsDoctor>
  <div class="modal-header checkdoctor_modal_header">
    <div class="recheck_modal_title_panel">
      <div class="recheck_modal_body_title">確認為醫療相關從業人員？</div>
      <div class="recheck_modal_body_subtitle">確認後將無法修改身份</div>
    </div>
  </div>
  <div class="modal-body checkdoctor_modal_body">
    <div class="register_identity_button d-flex">
      <button type="button" class="modal_btn_laststep" (click)="cancel()">取消</button>
      <button type="button" class="modal_btn_nextstep" (click)="isDoctor()">確定</button>
    </div>
  </div>
</ng-template>

<app-toast id="edit_profile_toast" title="已成功編輯基本資訊"></app-toast>
