@import '../../../styles/variables.scss';
@import '../../../styles/bootstrap.scss';

.scope_title_box {
  height: 28px;
  margin-bottom: 38px;
  margin-top: 56px;
  align-items: center;
}

.scope_title_box_text {
  font-size: $font-size-24;
  font-weight: 500;
}

.scope_title_box_icon {
  width: 4px;
  height: 24px;
  background-color: $red;
  border-radius: 100px;
  margin-right: 8px;
}

.scope_title_box_tag {
  background-color: $light_light_grey;
  border-radius: 8px;
  font-size: $font-size-14;
  color: $black;
  line-height: 28px;
  padding: 0 8px;
  margin-left: 8px;
}

.btn-check-all {
  width: 112px;
  height: 40x;
  background: $white;
  border: 1px solid $light_blue;
  border-radius: 100px;
  color: $blue;
  font-weight: 500;
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

@include media-breakpoint-down(md) {
  .scope_title_box {
    flex-wrap: wrap;
    width: 230px;
    height: 100%;
    margin-bottom: 24px;
  }
  .scope_title_box_text {
    font-size: $font-size-20;
  }
  .scope_title_box_tag {
    margin-top: 8px;
    margin-left: unset;
  }
  .btn-check-all {
    display: none;
  }
}
