<div>
  <div class="member_edit_box_content_header d-flex justify-content-between">
    <h1 class="member_edit_box_content_header_title">會員資料</h1>
    <div class="member_edit_box_content_header_bind btn_blue_line" (click)="bindLine(bindLineModal)">
      <svg class="exclamation"></svg>
      開始綁定Line帳號
    </div>
  </div>
  <div class="member_edit_box_content_scope">
    <div class="member_edit_box_content_scope_item">
      <div class="member_edit_box_content_scope_item_headshot">W</div>
    </div>
    <div class="line"></div>
    <div class="member_edit_box_content_scope_item d-flex">
      <div class="member_edit_box_content_scope_item_first">帳號</div>
      <div class="member_edit_box_content_scope_item_last">test@gmail.com</div>
    </div>
    <div class="line short"></div>
    <div class="member_edit_box_content_scope_item d-flex">
      <div class="member_edit_box_content_scope_item_first">密碼</div>
      <button class="member_edit_box_content_scope_item_last btn_blue_line button" (click)="openChangePasswordPopup(changePasswordModal)">
        變更密碼
      </button>
    </div>
  </div>
  <div class="member_edit_box_content_kanban d-flex" *ngIf="identity !== 3 && !isStartVerify" [ngClass]="{ passVerify: identity === 4 }">
    <div class="member_edit_box_content_kanban_text">
      <div class="member_edit_box_content_kanban_title">{{ identity === 4 ? '已通過身份驗證' : '尚未通過身份驗證' }}</div>
      <div class="member_edit_box_content_kanban_subtitle">
        {{ identity === 4 ? '您可盡情瀏覽專業、多元的醫學內容' : '驗證後即可解鎖專業性醫學內容' }}
      </div>
      <button class="member_edit_box_content_kanban_button btn_blue_bg" (click)="openVerify(verifyUser)" *ngIf="identity !== 4">立即驗證</button>
      <div *ngIf="identity === 4" class="mt-5"></div>
      <div class="member_edit_box_content_kanban_img">
        <img class="member_edit_box_content_img_icon" src="../../../assets/img/verify_icon.png" alt="" />
        <img [src]="identity === 4 ? '../../../assets/img/verify_doctor_mobile_2.png' : '../../../assets/img/verify_doctor_mobile.png'" alt="" />
      </div>
    </div>
  </div>
  <div class="member_edit_box_content_kanban isVerify d-flex" *ngIf="identity === 2 && isStartVerify">
    <div class="member_edit_box_content_kanban_text">
      <div class="member_edit_box_content_kanban_title verify_content">驗證進度</div>
      <div class="member_edit_box_content_kanban_subtitle verify_content">我們將會盡快處理您的驗證需求</div>
      <div class="member_edit_box_content_kanban_verify d-flex">
        <div class="member_edit_box_content_kanban_step member_edit_box_content_kanban_step_bg d-flex align-items-center">
          <div class="member_edit_box_content_kanban_step_icon">
            <img src="../../../../assets/img/verify_step1.png" alt="" />
          </div>
          <div class="member_edit_box_content_kanban_step_text">
            <div class="text_title">步驟一</div>
            <div class="text_content">送出驗證通知</div>
          </div>
        </div>
        <div
          class="member_edit_box_content_kanban_step d-flex align-items-center need_invite_code"
          [ngClass]="{
            active: !hasInviteCode,
            member_edit_box_content_kanban_step_active_bg: !hasInviteCode,
            member_edit_box_content_kanban_step_bg: hasInviteCode
          }"
        >
          <div class="member_edit_box_content_kanban_step_icon">
            <img [src]="!hasInviteCode ? '../../../../assets/img/verify_step2.png' : '../../../../assets/img/verify_step2_disable.png'" alt="" />
          </div>
          <div class="member_edit_box_content_kanban_step_text">
            <div class="text_title">步驟二</div>
            <div class="text_content">業務拜訪</div>
            <button class="text_invite" *ngIf="!hasInviteCode" (click)="openSalesInviteModal(salesInvite)">輸入邀請碼</button>
          </div>
        </div>
        <div class="member_edit_box_content_kanban_step d-flex align-items-center" [ngClass]="{ active: hasInviteCode }">
          <div class="member_edit_box_content_kanban_step_icon">
            <img [src]="hasInviteCode ? '../../../../assets/img/verify_step3_active.png' : '../../../../assets/img/verify_step3.png'" alt="" />
          </div>
          <div class="member_edit_box_content_kanban_step_text">
            <div class="text_title">步驟三</div>
            <div class="text_content">等待驗證通過</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="member_edit_box_content_scope">
    <div class="member_edit_box_content_scope_item d-flex justify-content-between">
      <div class="member_edit_box_content_scope_item_title">基本資訊</div>
      <button
        class="member_edit_box_content_scope_item_edit btn_blue_line"
        (click)="identity === 3 ? editNotVerifyMember(editNotVerifyProfile) : editMember(editProfile)"
      >
        <svg class="editIcon1"></svg>
        編輯
      </button>
    </div>
    <div class="line"></div>
    <div class="member_edit_box_content_scope_item d-flex">
      <div class="member_edit_box_content_scope_item_first">暱稱</div>
      <div class="member_edit_box_content_scope_item_last">Wendy Lian</div>
    </div>
    <div class="line short"></div>
    <div class="member_edit_box_content_scope_item d-flex">
      <div class="member_edit_box_content_scope_item_first">姓名</div>
      <div class="member_edit_box_content_scope_item_last">梁文欣</div>
    </div>
    <div class="line short"></div>
    <div class="member_edit_box_content_scope_item d-flex">
      <div class="member_edit_box_content_scope_item_first">手機號碼</div>
      <div class="member_edit_box_content_scope_item_last">0912345678</div>
    </div>
    <div class="line short" *ngIf="!isMailValidated"></div>
    <div class="member_edit_box_content_scope_item d-flex" *ngIf="!isMailValidated">
      <div class="member_edit_box_content_scope_item_first">
        電子信箱<img
          class="cursor_pointer"
          src="../../../assets/img/tooltips_icon.png"
          alt=""
          width="16"
          height="16"
          tooltip="若您想要使用信箱進行登入，需完成信箱綁定流程。"
          placement="bottom"
        />
      </div>
      <div class="member_edit_box_content_scope_item_last">
        <div>
          test@gmail.com
          <button class="member_edit_box_content_scope_item_bind btn_blue_line" (click)="openBindPopup(memberModal)">綁定信箱</button>
        </div>
      </div>
    </div>
    <div *ngIf="identity === 2 || identity === 4">
      <div class="line short"></div>
      <div class="member_edit_box_content_scope_item d-flex">
        <div class="member_edit_box_content_scope_item_first">職業</div>
        <div class="member_edit_box_content_scope_item_last">骨科醫生</div>
      </div>
      <div class="line short"></div>
      <div class="member_edit_box_content_scope_item d-flex">
        <div class="member_edit_box_content_scope_item_first">執業單位名稱</div>
        <div class="member_edit_box_content_scope_item_last">大安區聯合醫院</div>
      </div>
      <div class="line short"></div>
      <div class="member_edit_box_content_scope_item d-flex">
        <div class="member_edit_box_content_scope_item_first">執業縣市</div>
        <div class="member_edit_box_content_scope_item_last">台北市</div>
      </div>
      <div class="line short"></div>
      <div class="member_edit_box_content_scope_item d-flex">
        <div class="member_edit_box_content_scope_item_first">執業科別</div>
        <div class="member_edit_box_content_scope_item_last">骨科</div>
      </div>
      <div class="line short"></div>
      <div class="member_edit_box_content_scope_item d-flex">
        <div class="member_edit_box_content_scope_item_first">醫事人員證號</div>
        <div class="member_edit_box_content_scope_item_last">Q123456</div>
      </div>
    </div>
  </div>
</div>

<ng-template #verifyUser>
  <app-verify-user-modal
    [modalRef]="verifyUserModalRef"
    (startVerify)="startVerify($event)"
    (getInvite)="openSalesInviteModal(salesInvite)"
  ></app-verify-user-modal>
</ng-template>

<ng-template #salesInvite>
  <app-sales-invite [modalRef]="salesCodeModalRef" (getInvite)="getInviteCode($event)"></app-sales-invite>
</ng-template>

<ng-template #memberModal>
  <app-bind-mail-modal
    [modalRef]="memberModalRef"
    [title]="'綁定信箱'"
    [subTitle]="'設定帳號與密碼後，未來可進行一般帳號登入'"
    [registerAccount]="registerAccount"
    [verifyEmailStatus]="verifyEmailStatus"
    (verifiedMail)="setVerifiedMail($event)"
    (backStep)="backStep()"
    (register)="registerMail()"
  >
  </app-bind-mail-modal>
</ng-template>

<ng-template #changePasswordModal>
  <app-default-modal [modalRef]="changePasswordModalRef" [title]="'變更密碼'" [subTitle]="'密碼變更後將需要重新登入'">
    <div class="register_information">
      <div class="register_account">
        <div class="account">舊密碼</div>
        <input
          required
          type="password"
          class="account_input"
          placeholder="請輸入舊密碼"
          [(ngModel)]="changePassword.oldPassword"
          #oldPassword="ngModel"
          [ngClass]="{ input_error: oldPassword.invalid && (oldPassword.dirty || oldPassword.touched) }"
        />
      </div>
      <div class="verify_text" *ngIf="oldPassword.invalid && (oldPassword.dirty || oldPassword.touched)">
        <div *ngIf="oldPassword.errors?.required">必填欄位</div>
      </div>
      <div class="register_password">
        新密碼
        <input
          required
          type="password"
          class="password_input"
          placeholder="請輸入新密碼"
          [(ngModel)]="changePassword.newPassword"
          #newPassword="ngModel"
          [ngClass]="{ input_error: newPassword.invalid && (newPassword.dirty || newPassword.touched) }"
        />
        <ng-template #passwordTips>
          <div class="nickname_tips">需包含英文與數字，並且至少 8 位數以上</div>
        </ng-template>
      </div>
      <div class="verify_text" *ngIf="newPassword.invalid && (newPassword.dirty || newPassword.touched); else passwordTips">
        <div *ngIf="newPassword.errors?.required">必填欄位</div>
      </div>
      <div class="register_checkpassword">
        確認新密碼
        <input
          required
          type="password"
          class="checkpassword_input"
          placeholder="請再次輸入密碼"
          [(ngModel)]="changePassword.confirmPassword"
          #confirmPassword="ngModel"
          [ngClass]="{ input_error: confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched) }"
        />
      </div>
      <div class="verify_text" *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)">
        <div *ngIf="confirmPassword.errors?.required">必填欄位</div>
      </div>
      <button type="button" class="modal_btn_laststep" (click)="confirmChange()">確認變更</button>
      <div class="forget_password cursor_pointer" (click)="forgetPassword()">忘記密碼</div>
    </div>
  </app-default-modal>
</ng-template>

<ng-template #bindLineModal>
  <app-success-modal
    [modalRef]="bindLineModalRef"
    [title]="'Line 官方帳號'"
    [subTitle]="'掃描 Qrcode 進入我們的 Line 官方帳號後，即可將您的帳號與個人 Line 帳號綁定'"
  >
  </app-success-modal>
</ng-template>

<ng-template #editNotVerifyProfile>
  <app-register-line-modal
    [modalRef]="editNotVerifyProfileModalRef"
    [title]="'編輯基本資訊'"
    [registerUserInfo]="registerUserInfo"
    [registerIdentity]="false"
    [isEdit]="true"
  >
  </app-register-line-modal>
</ng-template>

<ng-template #editProfile>
  <app-default-modal [modalRef]="editMemberModalRef" [title]="'編輯基本資訊'">
    <div class="register_information">
      <div class="register_nickname">
        暱稱
        <input
          required
          type="text"
          placeholder="請輸入暱稱"
          [(ngModel)]="registerUserInfo.nickname"
          #nickname="ngModel"
          [ngClass]="{ input_error: nickname.invalid && (nickname.dirty || nickname.touched) }"
        />
        <ng-template #nicknameTips>
          <div class="nickname_tips">字數上限為12個字元</div>
        </ng-template>
      </div>
      <div class="verify_text" *ngIf="nickname.invalid && (nickname.dirty || nickname.touched); else nicknameTips">
        <div *ngIf="nickname.errors?.required">必填欄位</div>
      </div>
      <div class="register_firstname">
        姓氏
        <input
          required
          type="text"
          placeholder="請輸入姓氏"
          [(ngModel)]="registerUserInfo.firstname"
          #firstname="ngModel"
          [ngClass]="{ input_error: firstname.invalid && (firstname.dirty || firstname.touched) }"
        />
      </div>
      <div class="verify_text" *ngIf="firstname.invalid && (firstname.dirty || firstname.touched)">
        <div *ngIf="firstname.errors?.required">必填欄位</div>
      </div>
      <div class="register_lastname">
        名字
        <input
          required
          type="text"
          placeholder="請輸入名字"
          [(ngModel)]="registerUserInfo.lastname"
          #lastname="ngModel"
          [ngClass]="{ input_error: lastname.invalid && (lastname.dirty || lastname.touched) }"
        />
      </div>
      <div class="verify_text" *ngIf="lastname.invalid && (lastname.dirty || lastname.touched)">
        <div *ngIf="lastname.errors?.required">必填欄位</div>
      </div>
      <div class="register_phone">
        電話
        <input
          required
          type="text"
          placeholder="請輸入電話"
          [(ngModel)]="registerUserInfo.phone"
          #phone="ngModel"
          [ngClass]="{ input_error: phone.invalid && (phone.dirty || phone.touched) }"
        />
      </div>
      <div class="verify_text" *ngIf="phone.invalid && (phone.dirty || phone.touched)">
        <div *ngIf="phone.errors?.required">必填欄位</div>
      </div>
      <div class="register_job">
        職業
        <div class="btn-group job_select" dropdown [ngClass]="{ input_error: isJobEmpty }" (onHidden)="validateJobDropdown()">
          <button dropdownToggle type="button" class="btn dropdown-toggle" [ngClass]="{ select: registerJob.job }">
            {{ registerJob.job ? registerJob.job : '請選擇職業' }}
            <div class="arrow_down" [ngClass]="{ unselect: !registerJob.job }"></div>
            <div class="arrow_up" [ngClass]="{ unselect: !registerJob.job }"></div>
          </button>
          <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu">
            <div class="select_area">
              <li><a class="dropdown-item" (click)="setRegisterJob(registerJob, 'job', '醫師')">醫師</a></li>
              <li><a class="dropdown-item" (click)="setRegisterJob(registerJob, 'job', '骨科醫生')">骨科醫生</a></li>
              <li><a class="dropdown-item" (click)="setRegisterJob(registerJob, 'job', '中醫師')">中醫師</a></li>
              <li><a class="dropdown-item" (click)="setRegisterJob(registerJob, 'job', '助產師')">助產師</a></li>
              <li><a class="dropdown-item" (click)="setRegisterJob(registerJob, 'job', '呼吸治療師')">呼吸治療師</a></li>
            </div>
          </ul>
        </div>
      </div>
      <div class="verify_text" *ngIf="isJobEmpty">
        <div>必填欄位</div>
      </div>
      <div class="register_jobname">
        執業單位名稱
        <input
          required
          type="text"
          class="jobname_input"
          placeholder="請選擇執業單位名稱"
          [(ngModel)]="registerJob.jobCompany"
          #jobCompany="ngModel"
          [ngClass]="{ input_error: jobCompany.invalid && (jobCompany.dirty || jobCompany.touched) }"
        />
      </div>
      <div class="verify_text" *ngIf="jobCompany.invalid && (jobCompany.dirty || jobCompany.touched)">
        <div *ngIf="jobCompany.errors?.required">必填欄位</div>
      </div>
      <div class="register_jobcity">
        執業縣市
        <div class="btn-group job_select" dropdown [ngClass]="{ input_error: isJobCityEmpty }" (onHidden)="validateJobCityDropdown()">
          <button dropdownToggle type="button" class="btn dropdown-toggle" [ngClass]="{ select: registerJob.jobCity }">
            {{ registerJob.jobCity ? registerJob.jobCity : '請選擇執業縣市' }}
            <div class="arrow_down" [ngClass]="{ unselect: !registerJob.jobCity }"></div>
            <div class="arrow_up" [ngClass]="{ unselect: !registerJob.jobCity }"></div>
          </button>
          <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu">
            <div class="select_area">
              <li><a class="dropdown-item" (click)="setRegisterJob(registerJob, 'jobCity', '台北市')">台北市</a></li>
              <li><a class="dropdown-item" (click)="setRegisterJob(registerJob, 'jobCity', '新北市')">新北市</a></li>
              <li><a class="dropdown-item" (click)="setRegisterJob(registerJob, 'jobCity', '台中市')">台中市</a></li>
              <li><a class="dropdown-item" (click)="setRegisterJob(registerJob, 'jobCity', '高雄市')">高雄市</a></li>
            </div>
          </ul>
        </div>
      </div>
      <div class="verify_text" *ngIf="isJobCityEmpty">
        <div>必填欄位</div>
      </div>
      <div class="register_jobtype">
        執業科別
        <div class="btn-group job_select" dropdown [ngClass]="{ input_error: isJobTypeEmpty }" (onHidden)="validateJobTypeDropdown()">
          <button dropdownToggle type="button" class="btn dropdown-toggle" [ngClass]="{ select: registerJob.jobType }">
            {{ registerJob.jobType ? registerJob.jobType : '請選擇執業科別' }}
            <div class="arrow_down" [ngClass]="{ unselect: !registerJob.jobType }"></div>
            <div class="arrow_up" [ngClass]="{ unselect: !registerJob.jobType }"></div>
          </button>
          <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu">
            <div class="select_area">
              <li><a class="dropdown-item" (click)="setRegisterJob(registerJob, 'jobType', '內科')">內科</a></li>
              <li><a class="dropdown-item" (click)="setRegisterJob(registerJob, 'jobType', '骨科')">骨科</a></li>
              <li><a class="dropdown-item" (click)="setRegisterJob(registerJob, 'jobType', '外科')">外科</a></li>
              <li><a class="dropdown-item" (click)="setRegisterJob(registerJob, 'jobType', '婦產科')">婦產科</a></li>
              <li><a class="dropdown-item" (click)="setRegisterJob(registerJob, 'jobType', '小兒科')">小兒科</a></li>
            </div>
          </ul>
        </div>
      </div>
      <div class="verify_text" *ngIf="isJobTypeEmpty">
        <div>必填欄位</div>
      </div>
      <ng-container *ngIf="identity !== 4">
        <div class="register_doctorid">
          醫事人員證號
          <input
            required
            type="text"
            class="doctorid_input"
            placeholder="請輸入醫事人員證號"
            [(ngModel)]="registerJob.doctorId"
            #doctorId="ngModel"
            [ngClass]="{ input_error: doctorId.invalid && (doctorId.dirty || doctorId.touched) }"
          />
          <ng-template #idtips>
            <div class="nickname_tips">驗證後無法更改醫事人員證號</div>
          </ng-template>
        </div>
        <div class="verify_text" *ngIf="doctorId.invalid && (doctorId.dirty || doctorId.touched); else idtips">
          <div *ngIf="doctorId.errors?.required">必填欄位</div>
        </div>
      </ng-container>
      <button type="button" class="modal_btn_laststep" (click)="editMemberSubmit()">儲存</button>
    </div>
  </app-default-modal>
</ng-template>

<app-toast id="edit_profile_toast" title="已成功編輯基本資訊"></app-toast>
