<div class="feature_article_detail_box_author">
  <div class="feature_article_detail_box_author_scope_title">
    <app-scope-title [title]="setting.title" [showTag]="false" [showMoreBtn]="false" [titleStyle]="titleStyle"></app-scope-title>
  </div>
  <div class="feature_article_detail_box_author_container">
    <img class="headshot_xl" [src]="setting.img" alt="" />
    <div>
      <div class="feature_article_detail_box_author_name">{{ setting.authorName }}</div>
      <div class="feature_article_detail_box_author_text">{{ setting.authorText }}</div>
    </div>
  </div>
</div>
