<div class="swiper_box">
  <button
    (click)="prev('swiperRef1')"
    class="swiper_button_prev"
    [ngClass]="{ disabled: swiperSlideTransform['swiperRef1'] === 0 || size === 'xs' || size === 'sm' }"
  >
    <svg class="swiper_prev"></svg>
  </button>
  <button
    (click)="next('swiperRef1')"
    class="swiper_button_next"
    [ngClass]="{ disabled: swiperSlideTransform['swiperRef1'] === swiperSlideCounts['swiperRef1'] * -310 || size === 'xs' || size === 'sm' }"
  >
    <svg class="swiper_next"></svg>
  </button>
  <swiper
    class="video_swiper"
    [spaceBetween]="0"
    [navigation]="false"
    [slidesPerView]="swiperColumn"
    (transitionStart)="onSlideChange($event, 'swiperRef1')"
    #swiperRef1
  >
    <ng-template *ngFor="let item of swiperItems" swiperSlide [ngSwitch]="!!type">
      <ng-container *ngSwitchCase="type === 'article'">
        <div class="swiper_article_box" (click)="clickItem('article', item)">
          <img [src]="item.articleImg" alt="" class="swiper_article_box_img" />
          <h3 class="swiper_article_box_title mt-2">{{ item.articleTitle }}</h3>
          <div class="swiper_article_box_author d-flex mt-2">
            <img class="swiper_article_box_author_img headshot_sm" [src]="item.authorImg" alt="" />
            <div class="swiper_article_box_author_name">{{ item.author }} 教授</div>
          </div>
          <div class="swiper_article_box_time mt-2">{{ item.viewer }}</div>
        </div>
      </ng-container>
      <ng-container *ngSwitchCase="type === 'active'">
        <div class="swiper_active_box" (click)="clickItem('active', item)">
          <div>
            <div class="swiper_active_left">
              <img [src]="item.img" alt="" />
            </div>
            <div class="swiper_active_right">
              <div class="swiper_active_right_tags d-flex flex-wrap">
                <p class="swiper_active_right_tags_item" *ngFor="let tag of item.tag">{{ tag }}</p>
              </div>
              <div class="swiper_active_right_content">
                <h3>{{ item.title }}</h3>
                <div class="swiper_active_right_content_subTitle">{{ item.subTitle }}</div>
              </div>
              <div class="swiper_active_right_footer">
                <div class="swiper_active_right_footer_people d-flex">
                  <img class="headshot_sm" [src]="item.headShot" alt="" />
                  <p>{{ item.name }}</p>
                </div>
                <div>{{ item.time }}</div>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
      <ng-container *ngSwitchCase="type === 'video'">
        <div class="new_video_box" (click)="clickVideo(item)">
          <div class="video_img">
            <div class="new_video_box_time">{{ item.time }}</div>
            <img class="new_video_box_header default_img_height" [src]="item.headUrl" alt="" />
          </div>
          <div class="new_video_box_content d-flex">
            <img class="headshot_lg" [src]="item.headShotUrl" alt="" />
            <div>
              <h3 class="new_video_box_content_title">{{ item.title }}</h3>
              <div class="new_video_box_content_text">{{ item.text }}</div>
            </div>
          </div>
        </div>
        <!-- <app-new-video [newVideoItem]="item"></app-new-video> -->
      </ng-container>
    </ng-template>
  </swiper>
</div>
