<!--
<button (click)="open()">open</button>
<button (click)="close()">close</button>
<p>{{ flag$ | async }}</p>

<button (click)="set()">test</button>
<p>{{ getdata?.value }}</p>
<div data-vimeo-url="https://player.vimeo.com/video/559876766" id="handstick"></div> -->

<div class="home_box width_limit">
  <!-- New video -->
  <app-scope-title [title]="'最新影片'"></app-scope-title>
  <div class="swiper_box">
    <button (click)="prev('swiperRef1')" class="swiper_button_prev" [ngClass]="{ disabled: swiperSlideTransform['swiperRef1'] === 0 }">
      <svg class="swiper_prev"></svg>
    </button>
    <button
      (click)="next('swiperRef1')"
      class="swiper_button_next"
      [ngClass]="{ disabled: swiperSlideTransform['swiperRef1'] === (showNewVideoIndex && showNewVideoIndex * -325) }"
    >
      <svg class="swiper_next"></svg>
    </button>
    <swiper
      class="video_swiper"
      [slidesPerView]="showNewVideoIndex"
      [spaceBetween]="0"
      [navigation]="false"
      [slidesPerView]="newVideoColumn"
      (transitionStart)="onSlideChange($event, 'swiperRef1')"
      #swiperRef1
    >
      <ng-template swiperSlide *ngFor="let item of newVideoItem">
        <app-new-video [newVideoItem]="item"></app-new-video>
      </ng-template>
      <!-- <ng-template swiperSlide><app-new-video [newVideoItem]="newVideoItem"></app-new-video></ng-template>
      <ng-template swiperSlide><app-new-video [newVideoItem]="newVideoItem"></app-new-video></ng-template>
      <ng-template swiperSlide><app-new-video [newVideoItem]="newVideoItem"></app-new-video></ng-template>
      <ng-template swiperSlide><app-new-video [newVideoItem]="newVideoItem"></app-new-video></ng-template>
      <ng-template swiperSlide><app-new-video [newVideoItem]="newVideoItem"></app-new-video></ng-template>
      <ng-template swiperSlide><app-new-video [newVideoItem]="newVideoItem"></app-new-video></ng-template>
      <ng-template swiperSlide><app-new-video [newVideoItem]="newVideoItem"></app-new-video></ng-template> -->
    </swiper>
  </div>
  <button type="button" class="btn btn-check-all">查看更多 <img src="../../../assets/icon/right.png" alt="" /></button>

  <!-- learn willingness -->
  <ng-container *ngIf="identity !== 1">
    <app-scope-title [title]="'根據您的學習意願'"></app-scope-title>
    <!-- 已設定學習意願 -->
    <div class="swiper_box">
      <button (click)="prev('swiperRef2')" class="swiper_button_prev" [ngClass]="{ disabled: swiperSlideTransform['swiperRef2'] === 0 }">
        <svg class="swiper_prev"></svg>
      </button>
      <button
        (click)="next('swiperRef2')"
        class="swiper_button_next"
        [ngClass]="{ disabled: swiperSlideTransform['swiperRef2'] === (showNewVideoIndex && showNewVideoIndex * -325) }"
      >
        <svg class="swiper_next"></svg>
      </button>
      <swiper
        class="video_swiper"
        [slidesPerView]="showNewVideoIndex"
        [spaceBetween]="0"
        [navigation]="false"
        (transitionStart)="onSlideChange($event, 'swiperRef2')"
        [slidesPerView]="newVideoColumn"
        #swiperRef2
      >
        <ng-container *ngFor="let item of learnWillingness">
          <ng-template swiperSlide><app-learn-willingness [learnWillingness]="item"></app-learn-willingness></ng-template>
          <ng-template swiperSlide *ngFor="let video of item.videoItem">
            <app-new-video [newVideoItem]="video"></app-new-video>
          </ng-template>
        </ng-container>

        <!-- <ng-template swiperSlide><app-learn-willingness [learnWillingness]="learnWillingness"></app-learn-willingness></ng-template>
        <ng-template swiperSlide *ngFor="let item of newVideoItem">
          <app-new-video [newVideoItem]="item"></app-new-video>
        </ng-template> -->
        <!-- <ng-template swiperSlide><app-new-video [newVideoItem]="newVideoItem"></app-new-video></ng-template>
        <ng-template swiperSlide><app-new-video [newVideoItem]="newVideoItem"></app-new-video></ng-template>
        <ng-template swiperSlide><app-new-video [newVideoItem]="newVideoItem"></app-new-video></ng-template>
        <ng-template swiperSlide><app-new-video [newVideoItem]="newVideoItem"></app-new-video></ng-template>
        <ng-template swiperSlide><app-new-video [newVideoItem]="newVideoItem"></app-new-video></ng-template>
        <ng-template swiperSlide><app-new-video [newVideoItem]="newVideoItem"></app-new-video></ng-template>
        <ng-template swiperSlide><app-new-video [newVideoItem]="newVideoItem"></app-new-video></ng-template> -->
      </swiper>
    </div>
    <button type="button" class="btn btn-check-all">查看全部 <img src="../../../assets/icon/right.png" alt="" /></button>
    <!-- 未設定學習意願 -->
    <!-- <app-unset-learn-willingness></app-unset-learn-willingness> -->
  </ng-container>
</div>

<app-verify-kanban *ngIf="identity === 2"></app-verify-kanban>
<div class="home_box width_limit">
  <!-- Recommend video -->
  <app-scope-title [title]="'影片推薦'"></app-scope-title>
  <div class="swiper_box">
    <button (click)="prev('swiperRef3')" class="swiper_button_prev" [ngClass]="{ disabled: swiperSlideTransform['swiperRef3'] === 0 }">
      <svg class="swiper_prev"></svg>
    </button>
    <button
      (click)="next('swiperRef3')"
      class="swiper_button_next"
      [ngClass]="{ disabled: swiperSlideTransform['swiperRef3'] === (showNewVideoIndex && showNewVideoIndex * -325) }"
    >
      <svg class="swiper_next"></svg>
    </button>
    <swiper
      class="video_swiper"
      [slidesPerView]="showNewVideoIndex"
      [spaceBetween]="0"
      [navigation]="false"
      (transitionStart)="onSlideChange($event, 'swiperRef3')"
      [slidesPerView]="newVideoColumn"
      #swiperRef3
    >
    <ng-template swiperSlide *ngFor="let item of videoRecommendItem">
      <app-new-video [newVideoItem]="item"></app-new-video>
    </ng-template>
      <!-- <ng-template swiperSlide><app-new-video [newVideoItem]="newVideoItem"></app-new-video></ng-template>
      <ng-template swiperSlide><app-new-video [newVideoItem]="newVideoItem"></app-new-video></ng-template>
      <ng-template swiperSlide><app-new-video [newVideoItem]="newVideoItem"></app-new-video></ng-template>
      <ng-template swiperSlide><app-new-video [newVideoItem]="newVideoItem"></app-new-video></ng-template>
      <ng-template swiperSlide><app-new-video [newVideoItem]="newVideoItem"></app-new-video></ng-template>
      <ng-template swiperSlide><app-new-video [newVideoItem]="newVideoItem"></app-new-video></ng-template>
      <ng-template swiperSlide><app-new-video [newVideoItem]="newVideoItem"></app-new-video></ng-template>
      <ng-template swiperSlide><app-new-video [newVideoItem]="newVideoItem"></app-new-video></ng-template> -->
    </swiper>
  </div>
  <button type="button" class="btn btn-check-all">查看更多 <img src="../../../assets/icon/right.png" alt="" /></button>

  <!-- Hot subject -->
  <app-scope-title [title]="'熱門學科'" [showMoreBtn]="false"></app-scope-title>
  <div class="d-flex">
    <app-hot-subject *ngFor="let subject of hotSubjectArray" [hotSubjectItemInfo]="subject"></app-hot-subject>
  </div>
  <div class="d-flex">
    <app-hot-subject *ngFor="let subject of hotSubjectArray" [hotSubjectItemInfo]="subject"></app-hot-subject>
  </div>
  <button type="button" class="btn btn-check-all w-100">查看全部</button>

  <!-- New active -->
  <app-scope-title [title]="'最新活動'" [tag]="'登入後即可瀏覽內容'"></app-scope-title>
  <div class="row">
    <ng-container *ngFor="let item of newActiveItemInfo">
      <app-new-active class="col-xxl-6" [newActiveItemInfo]="item"></app-new-active>
      <!-- <app-new-active class="col-xxl-6" [newActiveItemInfo]="item"></app-new-active> -->
    </ng-container>
  </div>
  <button type="button" class="btn btn-check-all w-100">查看更多</button>

  <!-- New article -->
  <app-scope-title [title]="'最新文章'"></app-scope-title>
  <div class="row">
    <ng-container *ngFor="let item of newArticle1">
      <app-new-article class="col-xxl-6 new_article" [newArticle]="item"></app-new-article>
      <!-- <app-new-article class="col-xxl-6 new_article" [newArticle]="newArticle"></app-new-article> -->
    </ng-container>
  </div>
  <div class="row">
    <ng-container *ngFor="let item of newArticle2">
      <app-new-article class="col-xxl-6 new_article" [newArticle]="item"></app-new-article>
      <!-- <app-new-article class="col-xxl-6 new_article" [newArticle]="newArticle"></app-new-article> -->
    </ng-container>
  </div>
  <button type="button" class="btn btn-check-all w-100">查看更多</button>
</div>
