@import '../../../styles/bootstrap.scss';

.home_box {
  padding: 0 32px;
}

.swiper_box {
  position: relative;
}

// @include media-breakpoint-down(xxl) {
//   .new_article {
//     margin-top: 20px;
//   }
// }

@include media-breakpoint-down(sm) {
  .home_box {
    padding: 0 24px;
  }
}
