@import '../../../styles/bootstrap.scss';
@import '../../../styles/variables.scss';

.home_box {
  padding: 0 40px;
}

.swiper_box {
  position: relative;
}

.btn-check-all {
  display: none;
}

@include media-breakpoint-down(xl) {
  .home_box {
    padding: 0 30px;
  }
}

@include media-breakpoint-down(md) {
  .btn-check-all {
    display: unset;
    width: 112px;
    height: 40x;
    background: $white;
    border: 1px solid $light_blue;
    border-radius: 100px;
    color: $blue;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 24px;
  }
  .subject_btn-check-all {
    margin-right: 20px;
  }
}

@include media-breakpoint-down(sm) {
  .home_box {
    padding: 0 20px;
    padding-right: 0px;
  }
}
