@import '../../../styles/variables.scss';
@import '../../../styles/bootstrap.scss';

.breadcrumb {
  .text{
    font-size: $font-size-14;
    color: $deep_blue;
    line-height: 18px;
  }
  .breadcrumbRightIcon {
    margin: 0 8px;
  }

  .breadcrumbLeftIcon {
    margin-right: 8px;
  }
}


