<div class="nav_bar_subsite" dropdown>
  <button dropdownToggle type="button" class="btn btn_subsite dropdown-toggle" aria-controls="dropdown-basic">
    合作平台
    <div class="arrow_down"></div>
    <div class="arrow_up"></div>
  </button>
  <ul id="substie" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
    <li role="menuitem"><a class="dropdown-item" href="#">子網站A</a></li>
    <li role="menuitem"><a class="dropdown-item" href="#">子網站B</a></li>
    <li role="menuitem"><a class="dropdown-item" href="#">子網站C</a></li>
    <li role="menuitem"><a class="dropdown-item" href="#">子網站D</a></li>
    <li role="menuitem"><a class="dropdown-item" href="#">子網站E</a></li>
    <li role="menuitem"><a class="dropdown-item" href="#">子網站F</a></li>
  </ul>
</div>
