<div class="feature_article_sort d-flex">
  <div class="feature_article_sort_txt mdNone">排序方式</div>
  <div class="split mdNone"></div>
  <button
    class="btn_blue_line feature_article_sort_btn mdNone"
    [ngClass]="{ nonFocus: !clickStatus }"
    (click)="selectedBtn()"
    (blur)="clickStatus = false"
  >
    {{ selected }}
    <div [ngClass]="clickStatus ? 'arrow_up' : 'arrow_down'"></div>
  </button>
  <button class="feature_article_sort_md sortMdIcon" (click)="selectedBtn()" (blur)="clickStatus = false"></button>
  <div class="feature_article_sort_popup" *ngIf="clickStatus">
    <div class="feature_article_sort_popup_item" *ngFor="let item of dropList" (mousedown)="dropSelected(item)">{{ item }}</div>
  </div>
</div>
