@import '../../../styles/variables.scss';
@import '../../../styles/bootstrap.scss';

.navbar-div-inside {
  width: 100%;
  max-width: 1366px;
  margin: auto;
  display: flex;
  align-items: center;
}

.btn-login-mobile,
.nav_bar_headshot_mobile,
.nav_bar_search_mobile {
  display: none;
}

.navbar {
  background: $white;
}

.nav-bar-title {
  display: flex;
  align-items: center;
}

.nav_bar_headshot {
  // background: $light_blue;
  border-radius: 100px;
  width: 40px;
  height: 40px;
  img {
    border: 3px solid transparent;
    border-radius: 100px;
  }
}

.nav_bar_headshot:hover {
  img {
    border: 3px solid rgba(21, 25, 28, 0.08);
  }
}

.nav_bar_headshot.open.show {
  img {
    border: 3px solid rgba(21, 25, 28, 0.16);
  }
}

.nav_bar_hr {
  color: $hr_grey;
  margin-top: 0px;
}

.nav_bar_mobile_collapsed {
  height: 100%;
  display: unset;
}

@include media-breakpoint-up(lg) {
  .navbar-div {
    height: 76px;
  }

  .navbar-brand {
    width: 97px;
    height: 30px;
    margin-left: 48px;
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .navbar-collapse {
    margin-left: 40px;
  }

  .navbar-ul {
    height: 40px;
  }

  .nav-category {
    width: 126px;
    display: flex;
    align-items: center;
    font-size: 14px;
    a {
      padding-left: 4px;
      display: flex;
      align-items: center;
    }
    .arrow_up {
      display: none;
    }
    .arrow_down {
      display: unset;
      width: 14px;
      height: 14px;
      margin-left: 4px;
      background-size: 14px;
    }
  }

  .nav-category.open.show {
    background: $light_light_light_light_grey;
    border-radius: 100px;
    .nav-item-img {
      img {
        filter: invert(27%) sepia(56%) saturate(2972%) hue-rotate(334deg) brightness(82%) contrast(105%);
      }
    }
    .nav-link {
      color: $red;
    }
    .arrow_up {
      display: unset;
      width: 14px;
      height: 14px;
      margin-left: 4px;
      background-size: 14px;
      filter: invert(16%) sepia(71%) saturate(3531%) hue-rotate(341deg) brightness(110%) contrast(92%);
    }
    .arrow_down {
      display: none;
    }
  }

  .category-div {
    align-items: center;
    a {
      padding-left: 4px;
    }
  }
  #navbarSupportedContent {
    .dropdown-menu {
      width: 200px;
      height: 228px;
      transform: translateY(8px) !important;
      padding-bottom: 0px;
      overflow-y: auto;
      a {
        padding-left: 12px;
        font-size: 14px;
        font-weight: normal;
        height: 32px;
        line-height: 24px;
        margin-bottom: 4px;
      }
    }
    .dropdown-toggle::after {
      display: none;
    }
  }

  .dropdown-item {
    a {
      padding-left: 12px;
    }
  }

  .nav-item-img {
    display: flex;
    width: 36px;
    flex-flow: row-reverse;
  }

  .nav-article,
  .nav-event,
  .nav-filedownload {
    font-size: 14px;
    width: 108px;
    display: flex;
    align-items: center;
    a {
      padding-left: 4px;
    }
  }

  .btn-login {
    width: 92px;
    height: 40px;
    background: $white;
    border: 1px solid $light_blue;
    border-radius: 100px;
    color: $blue;
    font-weight: 500;
    font-size: 16px;
  }

  .btn-register {
    width: 92px;
    height: 40px;
    background: $blue;
    border-radius: 100px;
    color: $white;
    font-weight: 500;
    font-size: 16px;
  }

  .event-group {
    position: relative;
    display: flex;
    right: 45px;
  }

  .search {
    width: 50px;
    height: 40px;
    display: flex;
    line-height: 40px;
    align-items: center;
    margin-right: 12px;
  }

  .search-context {
    width: 280px;
    height: 40px;
    display: flex;
    line-height: 40px;
    align-items: center;
    margin-right: 12px;
    background: $light_light_light_grey;
    border-radius: 8px;
    img {
      margin-left: 16px;
    }
  }

  .input-search {
    margin-left: 8px;
    background: unset;
    border: 0;
    height: 40px;
    width: 235px;
  }

  .input-search:focus {
    outline: 0px;
  }

  .text-search {
    margin-left: 6px;
    font-size: 14px;
    color: $blue;
  }

  .btn-register {
    margin-left: 12px;
  }
}

@include media-breakpoint-down(xl) {
  .nav-category {
    width: 106px;
    a.nav-link {
      width: 100%;
      text-align: center;
      padding-left: 12px;
    }
    .nav-bar-title {
      width: 106px;
    }
  }

  .nav-article,
  .nav-event,
  .nav-filedownload {
    width: 84px;
    a {
      width: 100%;
      text-align: center;
      padding-left: 8px;
    }
    .nav-bar-title {
      width: 84px;
    }
  }

  .nav-item-img {
    display: none;
  }

  .search-context {
    width: 180px;
  }
}

@include media-breakpoint-down(lg) {
  .navbar-div-inside {
    display: unset;
  }
  .navbar-icon {
    width: 100%;
    height: 64px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  .new-article {
    width: 335px;
  }
  .article-context-title {
    margin-top: 16px;
  }
  .navbar {
    padding-top: 0px;
    padding-bottom: 0px;
    justify-content: unset;
    box-shadow: 0px 2px 6px rgb(21 25 28 / 10%);
  }
  .navbar-toggler {
    border: unset;
    padding-left: 20px;
  }
  .navbar-brand-center {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
  }
  .navbar-brand {
    line-height: 42px;
    height: 42px;
  }
  .event-group {
    display: none;
  }
  .btn-login-mobile {
    width: 92px;
    height: 40px;
    background: $white;
    border: 1px solid $light_blue;
    border-radius: 100px;
    color: $blue;
    font-weight: 500;
    font-size: 16px;
    position: absolute;
    right: 20px;
    display: unset;
  }

  .nav_bar_headshot_mobile {
    // background: $light_blue;
    border-radius: 100px;
    width: 40px;
    height: 40px;
    position: absolute;
    right: 20px;
    display: unset;
    img {
      border: 3px solid transparent;
      border-radius: 100px;
    }
  }

  .nav_bar_headshot_mobile:hover {
    img {
      border: 3px solid rgba(21, 25, 28, 0.08);
    }
  }

  .nav_bar_headshot_mobile.open.show {
    img {
      border: 3px solid rgba(21, 25, 28, 0.16);
    }
  }

  .nav_bar_search_mobile {
    height: 20px;
    position: absolute;
    right: 82px;
    display: unset;
  }

  .DKSH-icon {
    width: 78px;
    height: 24px;
  }

  #navbarSupportedContent {
    margin-top: 40px;
    li.nav-item {
      margin-bottom: 28px;
      .nav-bar-title {
        .nav-link {
          opacity: 0.5;
        }
        .nav-item-img {
          height: 20px;
          margin-left: 32px;
          margin-right: 16px;
          img {
            width: 20px;
            height: 20px;
          }
        }
        a {
          padding-top: 0px;
          padding-bottom: 0px;
          padding-left: 0px;
          font-weight: 500;
          font-size: 16px;
          line-height: 16px;
          color: $black;
          text-align: left;
          display: flex;
          align-items: center;
        }
        .arrow_up {
          display: none;
        }
        .arrow_down {
          display: unset;
          width: 12px;
          height: 12px;
          background-size: 12px;
          position: absolute;
          right: 35px;
          opacity: 0.5;
        }
        .dropdown-toggle::after {
          display: none;
          position: absolute;
          right: 35px;
          top: 8px;
        }
      }
      .dropdown-menu.show {
        border: unset;
        padding-top: 0px;
        padding-bottom: 0px;
        margin-top: 14px;
        .dropdown-item {
          padding-left: 67px;
          font-size: 14px;
          font-weight: 500;
          line-height: 24px;
          color: $black;
        }
      }
    }
    li.nav-item.open.show {
      .nav-bar-title {
        .nav-link {
          opacity: 1;
        }
        .nav_active_icon {
          width: 6px;
          height: 24px;
          background: $red;
          border-radius: 0px 4px 4px 0px;
        }
        .nav-item-img {
          margin-left: 27px;
        }
        .arrow_up {
          display: unset;
          width: 12px;
          height: 12px;
          background-size: 12px;
          position: absolute;
          right: 35px;
          opacity: 1;
        }
        .arrow_down {
          display: none;
        }
      }
      .dropdown-menu.show {
        opacity: 0.5;
      }
    }
  }
  .search_panel_mobile {
    width: 100%;
    height: 48px;
    background: $light_light_light_grey;
    border: 1px solid $light_light_blue;
    .search_context_mobile {
      width: 100%;
      height: 40px;
      display: flex;
      line-height: 40px;
      align-items: center;
      padding-top: 8px;
      .search_icon_mobile {
        margin-left: 16px;
      }
      .search_cancelicon_mobile {
        margin-right: 16px;
      }
      .input_search_mobile {
        margin-left: 8px;
        background: unset;
        border: 0;
        height: 40px;
        width: 100%;
      }
      .input_search_mobile::placeholder {
        color: $border_grey;
      }
    }
  }

  .nav-category,
  .nav-article,
  .nav-event,
  .nav-filedownload {
    width: 100%;
    .nav-bar-title {
      width: 100%;
    }
  }

  .nav-item-img {
    display: flex;
  }
}

.nav_bg {
  height: 76px;
}
