@import '../../../../styles/bootstrap.scss';
@import '../../../../styles/variables.scss';

.feature_article_detail_box {
  margin: 48px auto;
  max-width: 928px;
  margin-bottom: 80px;
}

.feature_article_detail_box_header {
  margin-top: 40px;
}

.feature_article_detail_box_header_subtitle {
  color: $grey;
  margin: 10px 0px;
}

.feature_article_detail_box_header_time {
  color: $grey;
}

.feature_article_detail_box_img {
  max-width: 928px;
  max-height: 500px;
  margin: 32px 0px;
}

.feature_article_detail_box_editor {
  margin: 32px 0px;
}

.feature_article_detail_scope_title {
  margin-top: 32px;
  margin-bottom: 24px;
}

@include media-breakpoint-down(xl) {
  .feature_article_detail_box {
    margin: 48px;
  }
}
@include media-breakpoint-down(md) {
  .feature_article_detail_box {
    margin: 32px 20px 64px 20px;
  }
}
