<div class="feature_article_detail_box">
  <div class="feature_article_detail_box_header">
    <h1 class="feature_article_detail_box_header_title">加護病房靜脈同時給予多種藥品之型態與風險</h1>
    <div class="feature_article_detail_box_header_subtitle">對某醫學中心11個加護病房的護理師問卷調查，以了解同時靜脈給多種藥的型態與風險。</div>
    <div class="feature_article_detail_box_header_time">2021/05/11．2,967 已閱讀</div>
  </div>
  <div class="feature_article_detail_box_img">
    <img class="h-100 w-100" src="../../../../assets/img/fakeImge/article_detail.png" alt="" />
  </div>
  <div class="feature_article_detail_box_editor">this area is CKedit</div>
  <div class="line"></div>
  <app-author-introduce [setting]="autherSetting"></app-author-introduce>
  <div class="line"></div>
  <div class="feature_article_detail_scope_title">
    <app-scope-title title="相關文章" [showTag]="false" [showMoreBtn]="false" [titleStyle]="titleStyle"></app-scope-title>
  </div>
</div>
