<app-default-modal [modalRef]="modalRef" [title]="'請選擇註冊方式'" [subTitle]="'註冊後即可瀏覽影片與文章'">
  <div class="modal_body_line">
    <button type="button" class="modal_line_login"><img src="../../../../assets/img/line.png" alt=""> 使用 LINE
      登入</button>
  </div>
  <div class="modal_body_mail">
    <button type="button" class="modal_email_register" (click)="registerFirstStep(registerFirst)">信箱註冊</button>
  </div>
</app-default-modal>

<ng-template #registerFirst>
  <app-default-modal [modalRef]="registerFirstStepModalRef" [title]="'註冊'" [subTitle]="'註冊後即可瀏覽影片與文章'">
    <div class="d-flex register_status">
      <div class="information">
        <img src="../../../../assets/img/register_user_enabled.png" alt="" width="32" height="32">
        <div class="register_select">基本資訊</div>
      </div>
      <div class="divider">
        <div class="line"></div>
      </div>
      <div class="identifying">
        <img src="../../../../assets/img/register_shild_disable.png" alt="" width="32" height="32">
        <div class="register_unselect">確認身份</div>
      </div>
      <div class="divider">
        <div class="line"></div>
      </div>
      <div class="account">
        <img src="../../../../assets/img/register_account_disable.png" alt="" width="32" height="32">
        <div class="register_unselect">設定帳號</div>
      </div>
    </div>
    <div class="register_information">
      <div class="register_nickname">
        暱稱
        <input required type="text" class="nickname_input" placeholder="請輸入暱稱" [(ngModel)]="registerUserInfo.nickname"
          #nickname="ngModel" [ngClass]="{'input_error': nickname.invalid && (nickname.dirty || nickname.touched)}">
        <ng-template #nicktips>
          <div class="nickname_tips">字數上限為12個字元</div>
        </ng-template>
      </div>
      <div class="verify_text" *ngIf="nickname.invalid && (nickname.dirty || nickname.touched); else nicktips">
        <div *ngIf="nickname.errors?.required">
          必填欄位
        </div>
      </div>
      <div class="register_firstname">
        姓氏
        <input required type="text" class="firstname_input" placeholder="請輸入姓氏" [(ngModel)]="registerUserInfo.firstname"
          #firstname="ngModel" [ngClass]="{'input_error': firstname.invalid && (firstname.dirty || firstname.touched)}">
      </div>
      <div class="verify_text" *ngIf="firstname.invalid && (firstname.dirty || firstname.touched)">
        <div *ngIf="firstname.errors?.required">
          必填欄位
        </div>
      </div>
      <div class="register_lastname">
        名字
        <input required type="text" class="lastname_input" placeholder="請輸入名字" [(ngModel)]="registerUserInfo.lastname"
          #lastname="ngModel" [ngClass]="{'input_error': lastname.invalid && (lastname.dirty || lastname.touched)}">
      </div>
      <div class="verify_text" *ngIf="lastname.invalid && (lastname.dirty || lastname.touched)">
        <div *ngIf="lastname.errors?.required">
          必填欄位
        </div>
      </div>
      <div class="register_phone">
        手機號碼
        <input required type="text" class="firstname_phone" placeholder="請輸入手機號碼" [(ngModel)]="registerUserInfo.phone"
          #phone="ngModel" [ngClass]="{'input_error': phone.invalid && (phone.dirty || phone.touched)}">
      </div>
      <div class="verify_text" *ngIf="phone.invalid && (phone.dirty || phone.touched)">
        <div *ngIf="phone.errors?.required">
          必填欄位
        </div>
      </div>
    </div>
    <button type="button" class="modal_btn_bignextstep" (click)="registerSecondStep(registerSecend)">下一步</button>
  </app-default-modal>
</ng-template>

<ng-template #registerSecend>
  <app-default-modal [modalRef]="registerSecendStepModalRef" [title]="'註冊'" [subTitle]="'註冊後即可瀏覽影片與文章'">
    <div class="d-flex register_status">
      <div class="information">
        <img src="../../../../assets/img/register_user_done.png" alt="" width="32" height="32">
        <div class="register_select">基本資訊</div>
      </div>
      <div class="divider">
        <div class="line"></div>
      </div>
      <div class="identifying">
        <img src="../../../../assets/img/register_shild_enabled.png" alt="" width="32" height="32">
        <div class="register_select">確認身份</div>
      </div>
      <div class="divider">
        <div class="line"></div>
      </div>
      <div class="account">
        <img src="../../../../assets/img/register_account_disable.png" alt="" width="32" height="32">
        <div class="register_unselect">設定帳號</div>
      </div>
    </div>
    <div class="check_register_identity">
      <div class="check_text d-flex">
        <div class="check_text_text">是否為醫療相關從業人員？</div>
        <img class="cursor_pointer" src="../../../../assets/img/tooltips_icon.png" alt="" width="16" height="16"
          tooltip="若您的身份為醫生、護士等行業，或就讀醫療相關學系，請選擇「是」，若皆不是請選擇「否」" placement="bottom">
      </div>
      <div class="check_radiobutton d-flex">
        <div class="radio_panel d-flex">
          <div class="check_panel">
            <input class="form-check-input" [(ngModel)]="registerIdentity" [value]="false" type="radio"
              name="check_doctor" id="radio_no">
            <label class="form-check-label" for="radio_no">
              否
            </label>
          </div>
          <img src="../../../../assets/img/not_doctor.png" alt="" width="100" height="100">
        </div>
        <div class="radio_panel d-flex">
          <div class="check_panel">
            <input class="form-check-input" [(ngModel)]="registerIdentity" [value]="true" type="radio"
              name="check_doctor" id="radio_yes">
            <label class="form-check-label" for="radio_yes">
              是
            </label>
          </div>
          <img src="../../../../assets/img/is_doctor.png" alt="">
        </div>
      </div>
      <div class="register_information register_job_information" *ngIf="registerIdentity">
        <div class="register_job">
          職業
          <div class="btn-group job_select" dropdown [ngClass]="{'input_error': !registerJob.job}">
            <!-- <input required type="text" dropdownToggle class="job_input" placeholder="請選擇職業"> -->
            <button dropdownToggle type="button" class="btn dropdown-toggle" [ngClass]="{'select': registerJob.job}">
              {{registerJob.job ? registerJob.job : '請選擇職業'}}
              <div class="arrow_down" [ngClass]="{'unselect': !registerJob.job}"></div>
              <div class="arrow_up" [ngClass]="{'unselect': !registerJob.job}"></div>
            </button>
            <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu">
              <li><a class="dropdown-item" (click)="setRegisterJob(registerJob,'job','醫師')">醫師</a></li>
              <li><a class="dropdown-item" (click)="setRegisterJob(registerJob,'job','中醫師')">中醫師</a></li>
              <li><a class="dropdown-item" (click)="setRegisterJob(registerJob,'job','助產師')">助產師</a></li>
              <li><a class="dropdown-item" (click)="setRegisterJob(registerJob,'job','呼吸治療師')">呼吸治療師</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="verify_text" *ngIf="!registerJob.job">
          <div>
            必填欄位
          </div>
        </div>
        <div class="register_jobname">
          執業單位名稱
          <input required type="text" class="jobname_input" placeholder="請選擇執業單位名稱" [(ngModel)]="registerJob.jobCompany"
            #jobCompany="ngModel"
            [ngClass]="{'input_error': jobCompany.invalid && (jobCompany.dirty || jobCompany.touched)}">
        </div>
        <div class="verify_text" *ngIf="jobCompany.invalid && (jobCompany.dirty || jobCompany.touched)">
          <div *ngIf="jobCompany.errors?.required">
            必填欄位
          </div>
        </div>
        <div class="register_jobcity">
          執業縣市
          <!-- <input required type="text" class="jobcity_input" placeholder="請選擇執業縣市"> -->
          <div class="btn-group job_select" dropdown [ngClass]="{'input_error': !registerJob.jobCity}">
            <button dropdownToggle type="button" class="btn dropdown-toggle"
              [ngClass]="{'select': registerJob.jobCity}">
              {{registerJob.jobCity ? registerJob.jobCity : '請選擇執業縣市'}}
              <div class="arrow_down" [ngClass]="{'unselect': !registerJob.jobCity}"></div>
              <div class="arrow_up" [ngClass]="{'unselect': !registerJob.jobCity}"></div>
            </button>
            <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu">
              <li><a class="dropdown-item" (click)="setRegisterJob(registerJob,'jobCity','台北市')">台北市</a></li>
              <li><a class="dropdown-item" (click)="setRegisterJob(registerJob,'jobCity','新北市')">新北市</a></li>
              <li><a class="dropdown-item" (click)="setRegisterJob(registerJob,'jobCity','台中市')">台中市</a></li>
              <li><a class="dropdown-item" (click)="setRegisterJob(registerJob,'jobCity','高雄市')">高雄市</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="verify_text" *ngIf="!registerJob.jobCity">
          <div>
            必填欄位
          </div>
        </div>
        <div class="register_jobtype">
          執業科別
          <!-- <input required type="text" class="jobtype_input" placeholder="請選擇執業科別"> -->
          <div class="btn-group job_select" dropdown [ngClass]="{'input_error': !registerJob.jobType}">
            <button dropdownToggle type="button" class="btn dropdown-toggle"
              [ngClass]="{'select': registerJob.jobType}">
              {{registerJob.jobType ? registerJob.jobType : '請選擇執業科別'}}
              <div class="arrow_down" [ngClass]="{'unselect': !registerJob.jobType}"></div>
              <div class="arrow_up" [ngClass]="{'unselect': !registerJob.jobType}"></div>
            </button>
            <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu">
              <li><a class="dropdown-item" (click)="setRegisterJob(registerJob,'jobType','內科')">內科</a></li>
              <li><a class="dropdown-item" (click)="setRegisterJob(registerJob,'jobType','外科')">外科</a></li>
              <li><a class="dropdown-item" (click)="setRegisterJob(registerJob,'jobType','婦產科')">婦產科</a></li>
              <li><a class="dropdown-item" (click)="setRegisterJob(registerJob,'jobType','小兒科')">小兒科</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="verify_text" *ngIf="!registerJob.jobType">
          <div>
            必填欄位
          </div>
        </div>
        <div class="register_doctorid">
          醫事人員證號
          <input required type="text" class="doctorid_input" placeholder="請輸入醫事人員證號" [(ngModel)]="registerJob.doctorId"
            #doctorId="ngModel" [ngClass]="{'input_error': doctorId.invalid && (doctorId.dirty || doctorId.touched)}">
          <ng-template #idtips>
            <div class="nickname_tips">提供證號可以加速您的身份審核</div>
          </ng-template>
        </div>
        <div class="verify_text" *ngIf="doctorId.invalid && (doctorId.dirty || doctorId.touched); else idtips">
          <div *ngIf="doctorId.errors?.required">
            必填欄位
          </div>
        </div>
      </div>
      <div class="register_identity_button d-flex" [ngClass]="{'isdoctor': registerIdentity}">
        <button type="button" class="modal_btn_laststep" (click)="backFirstStep(registerFirst)">上一步</button>
        <button type="button" class="modal_btn_nextstep" [ngClass]="{'disabled': registerIdentity === undefined}"
          (click)="registerThirdStep(registerThird)" [disabled]="registerIdentity === undefined">下一步</button>
      </div>
    </div>
  </app-default-modal>
</ng-template>

<ng-template #verifyEmailModal>
  <app-verify-modal [modalRef]="verifyEmailModalRef" [title]="'驗證信箱'" [subTitle]="'已寄送驗證碼至您的信箱，若有任何問題請聯絡我們'"
    (verifyStatus)="getVerifyStatus($event)">
  </app-verify-modal>
</ng-template>

<ng-template #registerThird>
  <app-default-modal [modalRef]="registerThirdStepModalRef" [title]="'註冊'" [subTitle]="'註冊後即可瀏覽影片與文章'">
    <div class="d-flex register_status">
      <div class="information">
        <img src="../../../../assets/img/register_user_done.png" alt="" width="32" height="32">
        <div class="register_select">基本資訊</div>
      </div>
      <div class="divider">
        <div class="line"></div>
      </div>
      <div class="identifying">
        <img src="../../../../assets/img/register_shild_done.png" alt="" width="32" height="32">
        <div class="register_select">確認身份</div>
      </div>
      <div class="divider">
        <div class="line"></div>
      </div>
      <div class="account">
        <img src="../../../../assets/img/register_account_enabled.png" alt="" width="32" height="32">
        <div class="register_select">設定帳號</div>
      </div>
    </div>
    <div class="register_information">
      <div class="register_account">
        <div class="account d-flex">
          <div class="account_text">帳號</div>
          <div *ngIf="verifyEmailStatus" class="account_verify d-flex">
            <img src="../../../../assets/icon/shield_done.png" alt="" width="14" height="14">已驗證
          </div>
        </div>
        <input required type="text" class="account_input" placeholder="請輸入帳號" [(ngModel)]="registerAccount.account"
          #account="ngModel" [ngClass]="{'input_error': account.invalid && (account.dirty || account.touched)}">
        <ng-template #accountTips>
          <div class="nickname_tips">此電子信箱將是您未來登入的帳號</div>
        </ng-template>
      </div>
      <div class="verify_text" *ngIf="account.invalid && (account.dirty || account.touched); else accountTips">
        <div *ngIf="account.errors?.required">
          必填欄位
        </div>
      </div>
      <div *ngIf="!verifyEmailStatus" class="verify_email d-flex cursor_pointer"
        (click)="verifyEmail(verifyEmailModal)">
        驗證信箱<img width="14" height="14" src="../../../../assets/icon/right.png" alt="">
      </div>
      <div class="register_password">
        密碼
        <input required type="password" class="password_input" placeholder="請輸入密碼"
          [(ngModel)]="registerAccount.password" #password="ngModel"
          [ngClass]="{'input_error': password.invalid && (password.dirty || password.touched)}">
        <ng-template #passwordTips>
          <div class="nickname_tips">需包含英文與數字，並且至少 8 位數以上</div>
        </ng-template>
      </div>
      <div class="verify_text" *ngIf="password.invalid && (password.dirty || password.touched); else passwordTips">
        <div *ngIf="password.errors?.required">
          必填欄位
        </div>
      </div>
      <div class="register_checkpassword">
        確認密碼
        <input required type="password" class="checkpassword_input" placeholder="請輸入密碼"
          [(ngModel)]="registerAccount.confirmPassword" #confirmPassword="ngModel"
          [ngClass]="{'input_error': confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)}">
      </div>
      <div class="verify_text" *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)">
        <div *ngIf="confirmPassword.errors?.required">
          必填欄位
        </div>
      </div>
      <div class="privacy">點擊「註冊」表示您已閱讀且同意本網站的<span class="cursor_pointer privacy_text">使用條款</span>以及<span
          class="cursor_pointer privacy_text"> 隱私權政策</span>。</div>
    </div>
    <div class="register_identity_button isdoctor d-flex">
      <button type="button" class="modal_btn_laststep" (click)="backSecondStep(registerSecend)">上一步</button>
      <button type="button" class="modal_btn_nextstep" (click)="registerLearnCheck(registerLearn)">註冊</button>
    </div>
  </app-default-modal>
</ng-template>

<ng-template #registerLearn>
  <app-default-modal [modalRef]="registerLearnCheckModalRef" [title]="'設定學習意願'" [subTitle]="'我們將會依照您的意願提供專屬內容'"
    [showCancelIcon]="false">
    <div class="search-context">
      <img src="../../../../assets/img/thin_search.png" width="20" height="18" alt="">
      <input type="text" class="input-search" placeholder="請輸入關鍵字">
    </div>
    <div class="learn_panel">
      <div class="learn_item" *ngFor="let type of demoLearnType;let i = index;" [ngClass]="{'checked': type.isChecked}">
        <input class="form-check-input" type="checkbox" value="" (change)="changeLearnType(type)" id="learn_{{i}}">
        <label class="form-check-label" for="learn_{{i}}">
          {{type.name}}
        </label>
      </div>
    </div>
    <div class="register_identity_button d-flex isdoctor">
      <button type="button" class="modal_btn_laststep" (click)="registerToSuccess(registerSuccess)">略過</button>
      <button type="button" class="modal_btn_nextstep" [ngClass]="{'disabled': registerLearnCount === 0}"
        [disabled]="registerLearnCount === 0" (click)="registerToSuccess(registerSuccess)">完成 <span
          *ngIf="registerLearnCount > 0">({{registerLearnCount}})</span></button>
    </div>
    <div class="separator">您隨時都可以調整學習意願的項目</div>
  </app-default-modal>
</ng-template>

<ng-template #registerSuccess>
  <app-success-modal [modalRef]="registerSuccessModalRef" [title]="'您已註冊完成！'"
    [subTitle]="'您可以掃描 Qrcode 進入我們的 Line 官方帳號後，即可將您的帳號與個人 Line 帳號綁定'">
  </app-success-modal>
</ng-template>
