<app-default-modal [modalRef]="modalRef" [title]="'請選擇註冊方式'" [subTitle]="'註冊後即可瀏覽影片與文章'">
  <div class="modal_body_line">
    <button type="button" class="modal_line_login" (click)="registerLineFirstStep(registerLineFirst)"><img
        src="../../../../assets/img/line.png" alt=""> 使用 LINE
      登入</button>
  </div>
  <div class="modal_body_mail">
    <button type="button" class="modal_email_register" (click)="registerFirstStep(registerFirst)">信箱註冊</button>
  </div>
</app-default-modal>

<!-- line register -->
<ng-template #registerLineFirst>
  <app-register-line-modal [modalRef]="registerLineFirstStepModalRef" [title]="'註冊'" [subTitle]="'註冊後即可瀏覽影片與文章'">
  </app-register-line-modal>
</ng-template>

<!-- email register -->
<ng-template #registerFirst>
  <app-default-modal [modalRef]="registerFirstStepModalRef" [title]="'註冊'" [subTitle]="'註冊後即可瀏覽影片與文章'"
    [needRecheck]="true">
    <div class="d-flex register_status">
      <div class="information">
        <img src="../../../../assets/img/register_user_enabled.png" alt="" width="32" height="32">
        <div class="register_select">基本資訊</div>
      </div>
      <div class="divider">
        <div class="line"></div>
      </div>
      <div class="identifying">
        <img src="../../../../assets/img/register_shild_disable.png" alt="" width="32" height="32">
        <div class="register_unselect">確認身份</div>
      </div>
      <div class="divider">
        <div class="line"></div>
      </div>
      <div class="account">
        <img src="../../../../assets/img/register_account_disable.png" alt="" width="32" height="32">
        <div class="register_unselect">設定帳號</div>
      </div>
    </div>
    <div class="register_information">
      <div class="register_nickname">
        暱稱
        <input required type="text" class="nickname_input" placeholder="請輸入暱稱" [(ngModel)]="registerUserInfo.nickname"
          #nickname="ngModel" [ngClass]="{'input_error': nickname.invalid && (nickname.dirty || nickname.touched)}">
        <ng-template #nicktips>
          <div class="nickname_tips">字數上限為12個字元</div>
        </ng-template>
      </div>
      <div class="verify_text" *ngIf="nickname.invalid && (nickname.dirty || nickname.touched); else nicktips">
        <div *ngIf="nickname.errors?.required">
          必填欄位
        </div>
      </div>
      <div class="register_firstname">
        姓氏
        <input required type="text" class="firstname_input" placeholder="請輸入姓氏" [(ngModel)]="registerUserInfo.firstname"
          #firstname="ngModel" [ngClass]="{'input_error': firstname.invalid && (firstname.dirty || firstname.touched)}">
      </div>
      <div class="verify_text" *ngIf="firstname.invalid && (firstname.dirty || firstname.touched)">
        <div *ngIf="firstname.errors?.required">
          必填欄位
        </div>
      </div>
      <div class="register_lastname">
        名字
        <input required type="text" class="lastname_input" placeholder="請輸入名字" [(ngModel)]="registerUserInfo.lastname"
          #lastname="ngModel" [ngClass]="{'input_error': lastname.invalid && (lastname.dirty || lastname.touched)}">
      </div>
      <div class="verify_text" *ngIf="lastname.invalid && (lastname.dirty || lastname.touched)">
        <div *ngIf="lastname.errors?.required">
          必填欄位
        </div>
      </div>
      <div class="register_phone">
        手機號碼
        <input required type="text" class="firstname_phone" placeholder="請輸入手機號碼" [(ngModel)]="registerUserInfo.phone"
          #phone="ngModel" [ngClass]="{'input_error': phone.invalid && (phone.dirty || phone.touched)}">
      </div>
      <div class="verify_text" *ngIf="phone.invalid && (phone.dirty || phone.touched)">
        <div *ngIf="phone.errors?.required">
          必填欄位
        </div>
      </div>
    </div>
    <button type="button" class="modal_btn_bignextstep" (click)="registerSecondStep(registerSecond)">下一步</button>
  </app-default-modal>
</ng-template>

<ng-template #registerSecond>
  <app-default-modal [modalRef]="registerSecondStepModalRef" [title]="'註冊'" [subTitle]="'註冊後即可瀏覽影片與文章'"
    [needRecheck]="true">
    <div class="d-flex register_status">
      <div class="information">
        <img src="../../../../assets/img/register_user_done.png" alt="" width="32" height="32">
        <div class="register_select">基本資訊</div>
      </div>
      <div class="divider">
        <div class="line active"></div>
      </div>
      <div class="identifying">
        <img src="../../../../assets/img/register_shild_enabled.png" alt="" width="32" height="32">
        <div class="register_select">確認身份</div>
      </div>
      <div class="divider">
        <div class="line"></div>
      </div>
      <div class="account">
        <img src="../../../../assets/img/register_account_disable.png" alt="" width="32" height="32">
        <div class="register_unselect">設定帳號</div>
      </div>
    </div>
    <div class="check_register_identity">
      <div class="check_text d-flex">
        <div class="check_text_text">是否為醫療相關從業人員？</div>
        <img class="cursor_pointer" src="../../../../assets/img/tooltips_icon.png" alt="" width="16" height="16"
          tooltip="若您的身份為醫生、護士等行業，或就讀醫療相關學系，請選擇「是」，若皆不是請選擇「否」" placement="bottom">
      </div>
      <div class="check_radiobutton d-flex">
        <div class="radio_panel d-flex" [ngClass]="{'checked': registerIdentity === false}">
          <div class="check_panel">
            <input class="form-check-input" [(ngModel)]="registerIdentity" [value]="false" type="radio"
              name="check_doctor" id="radio_no">
            <label class="form-check-label" for="radio_no">
              否
            </label>
          </div>
          <img src="../../../../assets/img/not_doctor.png" alt="" width="100" height="100">
        </div>
        <div class="radio_panel d-flex" [ngClass]="{'checked': registerIdentity}">
          <div class="check_panel">
            <input class="form-check-input" [(ngModel)]="registerIdentity" [value]="true" type="radio"
              name="check_doctor" id="radio_yes">
            <label class="form-check-label" for="radio_yes">
              是
            </label>
          </div>
          <img src="../../../../assets/img/is_doctor.png" alt="">
        </div>
      </div>
      <div class="register_information register_job_information" *ngIf="registerIdentity">
        <div class="register_job">
          職業
          <div class="btn-group job_select" dropdown [ngClass]="{'input_error': isJobEmpty }" (onHidden)="validateJobDropdown()">
            <!-- <input required type="text" dropdownToggle class="job_input" placeholder="請選擇職業"> -->
            <button dropdownToggle type="button" class="btn dropdown-toggle" [ngClass]="{'select': registerJob.job}">
              {{registerJob.job ? registerJob.job : '請選擇職業'}}
              <div class="arrow_down" [ngClass]="{'unselect': !registerJob.job}"></div>
              <div class="arrow_up" [ngClass]="{'unselect': !registerJob.job}"></div>
            </button>
            <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" >
              <li><a class="dropdown-item" (click)="setRegisterJob(registerJob,'job','醫師')">醫師</a></li>
              <li><a class="dropdown-item" (click)="setRegisterJob(registerJob,'job','中醫師')">中醫師</a></li>
              <li><a class="dropdown-item" (click)="setRegisterJob(registerJob,'job','助產師')">助產師</a></li>
              <li><a class="dropdown-item" (click)="setRegisterJob(registerJob,'job','呼吸治療師')">呼吸治療師</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="verify_text" *ngIf="isJobEmpty">
          <div>
            必填欄位
          </div>
        </div>
        <div class="register_jobname">
          執業單位名稱
          <input required type="text" class="jobname_input" placeholder="請選擇執業單位名稱" [(ngModel)]="registerJob.jobCompany"
            #jobCompany="ngModel"
            [ngClass]="{'input_error': jobCompany.invalid && (jobCompany.dirty || jobCompany.touched)}">
        </div>
        <div class="verify_text" *ngIf="jobCompany.invalid && (jobCompany.dirty || jobCompany.touched)">
          <div *ngIf="jobCompany.errors?.required">
            必填欄位
          </div>
        </div>
        <div class="register_jobcity">
          執業縣市
          <!-- <input required type="text" class="jobcity_input" placeholder="請選擇執業縣市"> -->
          <div class="btn-group job_select" dropdown [ngClass]="{'input_error': isJobCityEmpty}" (onHidden)="validateJobCityDropdown()">
            <button dropdownToggle type="button" class="btn dropdown-toggle"
              [ngClass]="{'select': registerJob.jobCity}">
              {{registerJob.jobCity ? registerJob.jobCity : '請選擇執業縣市'}}
              <div class="arrow_down" [ngClass]="{'unselect': !registerJob.jobCity}"></div>
              <div class="arrow_up" [ngClass]="{'unselect': !registerJob.jobCity}"></div>
            </button>
            <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu">
              <li><a class="dropdown-item" (click)="setRegisterJob(registerJob,'jobCity','台北市')">台北市</a></li>
              <li><a class="dropdown-item" (click)="setRegisterJob(registerJob,'jobCity','新北市')">新北市</a></li>
              <li><a class="dropdown-item" (click)="setRegisterJob(registerJob,'jobCity','台中市')">台中市</a></li>
              <li><a class="dropdown-item" (click)="setRegisterJob(registerJob,'jobCity','高雄市')">高雄市</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="verify_text" *ngIf="isJobCityEmpty">
          <div>
            必填欄位
          </div>
        </div>
        <div class="register_jobtype">
          執業科別
          <!-- <input required type="text" class="jobtype_input" placeholder="請選擇執業科別"> -->
          <div class="btn-group job_select" dropdown [ngClass]="{'input_error': isJobTypeEmpty}" (onHidden)="validateJobTypeDropdown()">
            <button dropdownToggle type="button" class="btn dropdown-toggle"
              [ngClass]="{'select': registerJob.jobType}">
              {{registerJob.jobType ? registerJob.jobType : '請選擇執業科別'}}
              <div class="arrow_down" [ngClass]="{'unselect': !registerJob.jobType}"></div>
              <div class="arrow_up" [ngClass]="{'unselect': !registerJob.jobType}"></div>
            </button>
            <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu">
              <li><a class="dropdown-item" (click)="setRegisterJob(registerJob,'jobType','內科')">內科</a></li>
              <li><a class="dropdown-item" (click)="setRegisterJob(registerJob,'jobType','外科')">外科</a></li>
              <li><a class="dropdown-item" (click)="setRegisterJob(registerJob,'jobType','婦產科')">婦產科</a></li>
              <li><a class="dropdown-item" (click)="setRegisterJob(registerJob,'jobType','小兒科')">小兒科</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="verify_text" *ngIf="isJobTypeEmpty">
          <div>
            必填欄位
          </div>
        </div>
        <div class="register_doctorid">
          醫事人員證號
          <input required type="text" class="doctorid_input" placeholder="請輸入醫事人員證號" [(ngModel)]="registerJob.doctorId"
            #doctorId="ngModel" [ngClass]="{'input_error': doctorId.invalid && (doctorId.dirty || doctorId.touched)}">
          <ng-template #idtips>
            <div class="nickname_tips">提供證號可以加速您的身份審核</div>
          </ng-template>
        </div>
        <div class="verify_text" *ngIf="doctorId.invalid && (doctorId.dirty || doctorId.touched); else idtips">
          <div *ngIf="doctorId.errors?.required">
            必填欄位
          </div>
        </div>
      </div>
      <div class="register_identity_button d-flex" [ngClass]="{'isdoctor': registerIdentity}">
        <button type="button" class="modal_btn_laststep" (click)="backFirstStep(registerFirst)">上一步</button>
        <button type="button" class="modal_btn_nextstep" [ngClass]="{'disabled': registerIdentity === undefined}"
          (click)="registerThirdStep(registerThird)" [disabled]="registerIdentity === undefined">下一步</button>
      </div>
    </div>
  </app-default-modal>
</ng-template>

<ng-template #registerThird>
  <app-bind-mail-modal [modalRef]="registerThirdStepModalRef" [title]="'註冊'" [subTitle]="'註冊後即可瀏覽影片與文章'"
    [showStepIcon]="true" [registerAccount]="registerAccount" [verifyEmailStatus]="verifyEmailStatus" (verifiedMail)="setVerifiedMail($event)" (backStep)="backSecondStep(registerSecond)" (register)="registerLearnCheck(registerLearn)">
  </app-bind-mail-modal>
</ng-template>

<ng-template #registerLearn>
  <app-register-learn-modal [modalRef]="registerLearnCheckModalRef" (passSetLearn)="registerToSuccess(registerSuccess)"
    (successSetLearn)="registerToSuccess(registerSuccess)">
  </app-register-learn-modal>
</ng-template>

<ng-template #registerSuccess>
  <app-success-modal [modalRef]="registerSuccessModalRef" [title]="'您已註冊完成！'"
    [subTitle]="'您可以掃描 Qrcode 進入我們的 Line 官方帳號後，即可將您的帳號與個人 Line 帳號綁定'">
  </app-success-modal>
</ng-template>
