<div class="password_outside width_limit d-flex">
  <div class="set_new_password" *ngIf="!setPasswordStatus;else success">
    <div class="title_panel">
      <div class="title">設定新密碼</div>
      <div class="subtitle">設定新密碼後將需要重新登入</div>
    </div>
    <div class="password_info">
      <div class="register_password">
        密碼
        <input required type="password" class="password_input" placeholder="請輸入密碼" [(ngModel)]="resetPassword"
          #password="ngModel" [ngClass]="{'input_error': password.invalid && (password.dirty || password.touched)}">
        <ng-template #passwordTips>
          <div class="nickname_tips">需包含英文與數字，並且至少 8 位數以上</div>
        </ng-template>
      </div>
      <div class="verify_text" *ngIf="password.invalid && (password.dirty || password.touched); else passwordTips">
        <div *ngIf="password.errors?.required">
          必填欄位
        </div>
      </div>
      <div class="register_checkpassword">
        確認新密碼
        <input required type="password" class="checkpassword_input" placeholder="請輸入密碼"
          [(ngModel)]="resetConfirmPassword" #confirmPassword="ngModel"
          [ngClass]="{'input_error': confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)}">
      </div>
      <div class="verify_text" *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)">
        <div *ngIf="confirmPassword.errors?.required">
          必填欄位
        </div>
      </div>
      <button type="button" class="btn_submit" (click)="setPasswordStatus = true">確認送出</button>
    </div>
  </div>

  <ng-template #success>
    <div class="set_new_password">
      <div class="title_panel">
        <img src="../../../../assets/img/check.png" alt="">
        <div class="title">已成功設定新密碼</div>
        <div class="subtitle">您可利用新密碼來進行登入</div>
      </div>
      <button type="button" class="btn_submit success" routerLink="/pages">回首頁</button>
    </div>
  </ng-template>
</div>
