<div class="verify_kanban d-flex">
  <div class="verify_kanban_text">
    <div class="verify_kanban_img">
      <img class="verify_img_icon" src="../../../assets/img/verify_icon.png" alt="">
      <img src="../../../assets/img/verify_doctor_mobile.png" alt="">
    </div>
    <div class="verify_kanban_title">探索更多專業內容</div>
    <div class="verify_kanban_subtitle">通過身份驗證，即可瀏覽更多專業的醫學教育內容！</div>
    <div class="verify_kanban_button"><button type="button" class="btn btn_verify">立即驗證</button></div>
  </div>
</div>
