<div class="new_video_box">
  <div>
    <div class="new_video_box_time">32:24</div>
    <img class="new_video_box_header" src="../../../assets/img/fakeImge/new_video_fake_img.png" alt="" />
  </div>
  <div class="new_video_box_content d-flex">
    <img class="headshot_lg" src="../../../assets/img/fakeImge/new_video_fake_headshot.png" alt="" />
    <div>
      <h3 class="new_video_box_content_title">從小實施衛教的重要性</h3>
      <div class="new_video_box_content_text">歐朔銘 醫師•4,567 已觀看</div>
    </div>
  </div>
</div>
