<div class="new_video_box" (click)="clickVideo(newVideoItem)" >
  <div class="video_img">
    <div class="new_video_box_time">{{ newVideoItem.time }}</div>
    <img class="new_video_box_header default_img_height w-100" [src]="newVideoItem.headUrl" alt="" />
  </div>
  <div class="new_video_box_content d-flex">
    <img class="headshot_lg" [src]="newVideoItem.headShotUrl" alt="" />
    <div>
      <h3 class="new_video_box_content_title">{{ newVideoItem.title }}</h3>
      <div class="new_video_box_content_text">{{ newVideoItem.text }}</div>
    </div>
  </div>
</div>
