<div class="btn-group footer_language" dropdown [dropup]="true">
  <button id="button-dropup" dropdownToggle type="button" class="btn btn_language dropdown-toggle"
    aria-controls="dropdown-dropup">
    繁體中文 <span class="caret"></span>
  </button>
  <ul id="language" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-dropup">
    <li role="menuitem"><a class="dropdown-item" href="#">繁體中文</a></li>
    <li role="menuitem"><a class="dropdown-item" href="#">English</a>
    </li>
  </ul>
</div>
