.new-article {
  min-width: 335px;
  min-height: 210px;
  .article-context-viewer,
  .article-context-author-name,
  .article-context-subtitle {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #444749;
    letter-spacing: 0px;
  }
}

.article-img {
  min-width: 306px;
  min-height: 210px;
  max-width: 335px;
  img {
    border-radius: 14px;
  }
}

.article-context-title {
  color: #15191c !important;
  margin-bottom: 8px;
}

.article-context-subtitle {
  margin-bottom: 20px;
}

.article-context-author {
  margin-bottom: 9px;
}

.article-context-author-name {
  line-height: 24px !important;
}
