<div class="new-article">
  <div class="row h-100">
    <div class="article-img col-xl-6 col-md-6">
      <img src="{{ newArticle.articleImg }}" alt="" class="h-100 w-100" />
    </div>
    <div class="article-context col-xl-6 col-md-6">
      <h3 class="article-context-title">{{ newArticle.articleTitle }}</h3>
      <div class="article-context-subtitle">{{ newArticle.articleSubtitle }}</div>
      <div class="article-context-author">
        <div class="d-flex">
          <div class="article-context-author-icon">
            <img class="headshot_sm" src="{{ newArticle.authorImg }}" alt="" />
          </div>
          <div class="article-context-author-name">{{ newArticle.author }} 教授</div>
        </div>
      </div>
      <div class="article-context-viewer">{{ newArticle.viewer }} 已閱讀</div>
    </div>
  </div>
</div>
