@import '../../../styles/variables.scss';
@import '../../../styles/bootstrap.scss';

.new-article {
  min-width: 335px;
  min-height: 210px;
  margin-bottom: 20px;
  .article-context-viewer,
  .article-context-author-name,
  .article-context-subtitle {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: $grey;
    letter-spacing: 0px;
  }
}

.article-img {
  min-width: 306px;
  min-height: 210px;
  max-width: 375px;
  max-height: 230px;
  margin-bottom: 16px;
  img {
    border-radius: 14px;
  }
}

.article-context-title {
  color: $black !important;
  margin-bottom: 8px;
}

.article-context-subtitle {
  margin-bottom: 20px;
}

.article-context-author {
  margin-bottom: 4px;
}

.article-context-author-name {
  line-height: 24px !important;
}

@include media-breakpoint-down(sm) {
  .article-context-title {
    margin-top: 8px;
  }
}
