<ul *dropdownMenu id="profile" class="dropdown-menu" role="menu">
  <li class="text-center profile_headshot">
    <img src="../../../assets/img/fakeImge/header_fake_bigheadshot.png" width="80" height="80" alt="" />
    <img *ngIf="identity === 4" intrinsicsize="24x24" src="../../../assets/img/shield_done.png" alt="" class="shield_img" width="24" height="24" />
  </li>
  <li class="text-center">
    <p class="profile_username">陳薰依</p>
  </li>
  <li class="text-center profile_viewbtn"><button type="button" class="btn btn_profile" routerLink="/pages/member-edit">瀏覽會員資料</button></li>
  <li *ngIf="identity === 2" class="divider dropdown-divider"></li>
  <li *ngIf="identity === 2" class="text-center profile_viewverify">
    <button type="button" class="btn btn_verify" (click)="openVerify(verifyUser)">驗證身份</button>
  </li>
  <li class="divider dropdown-divider mb-0"></li>
  <li class="profile_record">
    <a class="dropdown-item profile_item" routerLink="/pages/member-edit/member-history">
      <div class="profile_a_img">
        <img src="../../../assets/img/time_circle.png" width="20" height="20" alt="" />
      </div>
      瀏覽紀錄
    </a>
  </li>
  <li class="profile_favorite">
    <a class="dropdown-item profile_item" routerLink="/pages/member-edit/member-collection">
      <div class="profile_a_img">
        <img src="../../../assets/img/bookmark.png" width="20" height="20" alt="" />
      </div>
      我的收藏
    </a>
  </li>
  <li class="profile_learn">
    <a class="dropdown-item profile_item" href="#">
      <div class="profile_a_img">
        <img src="../../../assets/img/star.png" width="20" height="20" alt="" />
      </div>
      學習意願
    </a>
  </li>
  <li class="divider dropdown-divider m-0"></li>
  <li class="profile_logout">
    <a class="dropdown-item profile_item" href="#">
      <div class="profile_a_img">
        <img src="../../../assets/img/login.png" width="20" height="20" alt="" />
      </div>
      登出
    </a>
  </li>
</ul>

<ng-template #verifyUser>
  <app-verify-user-modal [modalRef]="verifyUserModalRef" (getInvite)="openSalesInviteModal(salesInvite)"></app-verify-user-modal>
</ng-template>

<ng-template #salesInvite>
  <app-sales-invite [modalRef]="salesCodeModalRef"></app-sales-invite>
</ng-template>
