<div class="hot_subject_box">
  <div *ngIf="breakpointSize === 'xs'" class="hot_subject_top">
    <div class="hot_subject_top_icon" [ngStyle]="{'background-image': 'url(' + hotSubjectItemInfo.url + ')'}"></div>
  </div>
  <div class="hot_subject_left">
    <div class="hot_subject_left_title">{{ hotSubjectItemInfo.title }}</div>
    <div class="hot_subject_left_titleSub">{{ hotSubjectItemInfo.subTitle }}</div>
  </div>
  <div *ngIf="breakpointSize !== 'xs'" class="hot_subject_right">
    <div class="hot_subject_right_icon" [ngStyle]="{'background-image': 'url(' + hotSubjectItemInfo.url + ')'}"></div>
  </div>
</div>
