<div class="unset_learn">
  <div class="unset_learn_content">
    <div class="unset_learn_img"><img src="../../../assets/img/unset_learn.png" alt=""></div>
    <div class="unset_learn_title">您尚未設定學習意願</div>
    <div class="unset_learn_subtitle">設定後我們將會提供更適合您的專屬內容</div>
    <div class="unset_learn_button"><button type="button" class="btn btn_learn" (click)="setLearnModal(registerLearn)"><img src="../../../assets/img/setting.png" alt=""> 設定學習意願</button></div>
  </div>
</div>

<ng-template #registerLearn>
  <app-register-learn-modal [modalRef]="modalRef" (passSetLearn)="registerToSuccess()"
    (successSetLearn)="registerToSuccess()">
  </app-register-learn-modal>
</ng-template>
